In [1]:
import pandas as pd
import numpy as np

In [2]:
df1=pd.read_csv('Books.csv',low_memory=False)

In [3]:
df1.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [4]:
df1.shape

(271360, 8)

In [5]:
df1.isnull().sum()

ISBN                   0
Book-Title             0
Book-Author            1
Year-Of-Publication    0
Publisher              2
Image-URL-S            0
Image-URL-M            0
Image-URL-L            3
dtype: int64

In [6]:
df1.duplicated().sum()

0

In [7]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271360 entries, 0 to 271359
Data columns (total 8 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   ISBN                 271360 non-null  object
 1   Book-Title           271360 non-null  object
 2   Book-Author          271359 non-null  object
 3   Year-Of-Publication  271360 non-null  object
 4   Publisher            271358 non-null  object
 5   Image-URL-S          271360 non-null  object
 6   Image-URL-M          271360 non-null  object
 7   Image-URL-L          271357 non-null  object
dtypes: object(8)
memory usage: 16.6+ MB

In [8]:
df1.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

df1.drop(columns=['Image-URL-S','Image-URL-M','Image-URL-L'],inplace=True)

In [9]:
df2=pd.read_csv('Ratings.csv')

In [10]:
df2.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [11]:
df2.shape

(1149780, 3)

In [12]:
df2.isnull().sum()

User-ID        0
ISBN           0
Book-Rating    0
dtype: int64

In [13]:
df2.duplicated().sum()

0

In [14]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1149780 entries, 0 to 1149779
Data columns (total 3 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   User-ID      1149780 non-null  int64
 1   ISBN         1149780 non-null  object
 2   Book-Rating  1149780 non-null  int64
dtypes: int64(2), object(1)
memory usage: 26.3+ MB

In [15]:
df3=pd.read_csv('Users.csv')

In [16]:
df3.head()

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

In [17]:
df3.shape

(278858, 3)

In [18]:
df3.isnull().sum()

User-ID          0
Location         0
Age         110762
dtype: int64

In [19]:
df3.duplicated().sum()

0

In [20]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 278858 entries, 0 to 278857
Data columns (total 3 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   User-ID   278858 non-null  int64
 1   Location  278858 non-null  object
 2   Age       168096 non-null  float64
dtypes: float64(1), int64(1), object(1)
memory usage: 6.4+ MB

In [21]:
df_new=df3.merge(df2,left_on='User-ID',right_on='User-ID',how='inner')
df_new

         User-ID                   Location   Age        ISBN  Book-Rating
0              2  stockton, california, usa  18.0  0195153448            0
1              7        washington, dc, usa   NaN   034542252            0
2              8   timmins, ontario, canada   NaN  0002005018            5
3              8   timmins, ontario, canada   NaN  0060973129            0
4              8   timmins, ontario, canada   NaN  0374157065            0
...          ...                        ...   ...         ...          ...
1149775   278854      portland, oregon, usa   NaN  0425163393            7
1149776   278854      portland, oregon, usa   NaN  0515087122            0
1149777   278854      portland, oregon, usa   NaN  0553275739            6
1149778   278854      portland, oregon, usa   NaN  0553578596            0
1149779   278854      portland, oregon, usa   NaN  0553579606            8

[1149780 rows x 5 columns]

In [22]:
df=df_new.merge(df1,left_on='ISBN',right_on='ISBN',how='inner')
df

,User-ID,Location,Age,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,2,"stockton, california, usa",18.0,0195153448,0,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,8,"timmins, ontario, canada",NaN,0002005018,5,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,11400,"ottawa, ontario, canada",49.0,0002005018,0,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
3,11676,"n/a, n/a, n/a",NaN,0002005018,8,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
4,41385,"sudbury, ontario, canada",NaN,0002005018,0,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
...,...,...,...,...,...,...,...,...,...,...,...,...
1031131,278851,"dallas, texas, usa",33.0,0743203763,0,As Hogan Said . . . : The 389 Best Things Anyo...,Randy Voorhees,2000,Simon &amp; Schuster,http://images.amazon.com/images/P/0743203763.0...,http://images.amazon.com/images/P/0743203763.0...,http://images.amazon.com/images/P/0743203763.0...
1031132,278851,"dallas, texas, usa",33.0,0767907566,5,All Elevations Unknown: An Adventure in the He...,Sam Lightner,2001,Broadway Books,http://images.amazon.com/images/P/0767907566.0...,http://images.amazon.com/images/P/0767907566.0...,http://images.amazon.com/images/P/0767907566.0...
1031133,278851,"dallas, texas, usa",33.0,0884159221,7,Why stop?: A guide to Texas historical roadsid...,Claude Dooley,1985,Lone Star Books,http://images.amazon.com/images/P/0884159221.0...,http://images.amazon.com/images/P/0884159221.0...,http://images.amazon.com/images/P/0884159221.0...
1031134,278851,"dallas, texas, usa",33.0,0912333022,7,The Are You Being Served? Stories: 'Camping In...,Jeremy Lloyd,1997,Kqed Books,http://images.amazon.com/images/P/0912333022.0...,http://images.amazon.com/images/P/0912333022.0...,http://images.amazon.com/images/P/0912333022.0...
1031135,278851,"dallas, texas, usa",33.0,1569661057,10,"Dallas Street Map Guide and Directory, 2000 Ed...",Mapsco,1999,American Map Corporation,http://images.amazon.com/images/P/1569661057.0...,http://images.amazon.com/images/P/1569661057.0...,http://images.amazon.com/images/P/1569661057.0...

In [23]:
df.shape

(1031136, 12)

In [24]:
df.duplicated().sum()

0

In [25]:
df.isnull().sum()

User-ID                     0
Location                    0
Age                    277835
ISBN                        0
Book-Rating                 0
Book-Title                  0
Book-Author                 1
Year-Of-Publication         0
Publisher                   2
Image-URL-S                 0
Image-URL-M                 0
Image-URL-L                 4
dtype: int64

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1031136 entries, 0 to 1031135
Data columns (total 12 columns):
 #   Column               Non-Null Count    Dtype
---  ------               --------------    -----
 0   User-ID              1031136 non-null  int64
 1   Location             1031136 non-null  object
 2   Age                  753301 non-null   float64
 3   ISBN                 1031136 non-null  object
 4   Book-Rating          1031136 non-null  int64
 5   Book-Title           1031136 non-null  object
 6   Book-Author          1031135 non-null  object
 7   Year-Of-Publication  1031136 non-null  object
 8   Publisher            1031134 non-null  object
 9   Image-URL-S          1031136 non-null  object
 10  Image-URL-M          1031136 non-null  object
 11  Image-URL-L          1031132 non-null  object
dtypes: float64(1), int64(2), object(9)
memory usage: 102.3+ MB

df.drop(columns=['User-ID','ISBN'],inplace=True)
df.shape

In [28]:
df['Year-Of-Publication'].value_counts().index.tolist()

['2002',
 '2001',
 '1999',
 '2003',
 '2000',
 '1998',
 '1997',
 '1996',
 '1995',
 '1994',
 '1993',
 '1992',
 '1991',
 '1990',
 '2004',
 '1989',
 '1988',
 '1987',
 '1986',
 '0',
 '1984',
 '1985',
 '1983',
 '1982',
 '1981',
 '1980',
 '1978',
 '1979',
 '1977',
 '1976',
 '1974',
 '1975',
 '1973',
 '1972',
 '1970',
 '1971',
 '1969',
 '1965',
 '1953',
 '1968',
 '1959',
 '1966',
 '1964',
 '1960',
 '1961',
 '1967',
 '1963',
 '1962',
 '1957',
 '1954',
 '1958',
 '1955',
 '1956',
 '2005',
 '1920',
 '1951',
 '1952',
 '1930',
 '1950',
 '1940',
 '1942',
 '1946',
 '1923',
 '2030',
 '1945',
 '1947',
 '1911',
 '1943',
 '1929',
 '1948',
 '1932',
 '1949',
 '1936',
 '1927',
 '1941',
 '1937',
 '1938',
 '1926',
 '1902',
 '1939',
 '2020',
 '2011',
 '2038',
 '2050',
 '1901',
 '1925',
 '2026',
 '1900',
 '1933',
 '2010',
 '1944',
 '1928',
 'DK Publishing Inc',
 '1935',
 '1908',
 '1931',
 '2021',
 '2006',
 '1921',
 '1924',
 '1909',
 '1922',
 '1906',
 '1934',
 '1910',
 '1914',
 '1919',
 '1917',
 '1806',
 '1904',
 '2037',
 '1376',
 '2008',
 '2012',
 'Gallimard',
 '1378',
 '1897',
 '2024']

In [29]:
df[df['Year-Of-Publication']=='DK Publishing Inc']

,User-ID,Location,Age,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
906829,130571,"summerville, south carolina, usa",NaN,0789466953,0,"DK Readers: Creating the X-Men, How Comic Book...",2000,DK Publishing Inc,http://images.amazon.com/images/P/0789466953.0...,http://images.amazon.com/images/P/0789466953.0...,http://images.amazon.com/images/P/0789466953.0...,NaN
946370,169663,"towson, maryland, usa",NaN,078946697X,0,"DK Readers: Creating the X-Men, How It All Beg...",2000,DK Publishing Inc,http://images.amazon.com/images/P/078946697X.0...,http://images.amazon.com/images/P/078946697X.0...,http://images.amazon.com/images/P/078946697X.0...,NaN
946371,227771,"savion, n/a, israel",19.0,078946697X,7,"DK Readers: Creating the X-Men, How It All Beg...",2000,DK Publishing Inc,http://images.amazon.com/images/P/078946697X.0...,http://images.amazon.com/images/P/078946697X.0...,http://images.amazon.com/images/P/078946697X.0...,NaN

In [30]:
df[df['Year-Of-Publication']=='DK Publishing Inc']['Book-Title'].values

array(['DK Readers: Creating the X-Men, How Comic Books Come to Life (Level 4: Proficient Readers)\\";James Buckley"',
       'DK Readers: Creating the X-Men, How It All Began (Level 4: Proficient Readers)\\";Michael Teitelbaum"',
       'DK Readers: Creating the X-Men, How It All Began (Level 4: Proficient Readers)\\";Michael Teitelbaum"'],
      dtype=object)

In [31]:
df[df['Year-Of-Publication']=='Gallimard']

,User-ID,Location,Age,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
913994,137190,"rennes, bretagne, france",31.0,2070426769,0,"Peuple du ciel, suivi de 'Les Bergers\"";Jean-M...",2003,Gallimard,http://images.amazon.com/images/P/2070426769.0...,http://images.amazon.com/images/P/2070426769.0...,http://images.amazon.com/images/P/2070426769.0...,NaN

In [32]:
df[df['Year-Of-Publication']=='Gallimard']['Book-Title'].values

array(['Peuple du ciel, suivi de \'Les Bergers\\";Jean-Marie Gustave Le ClÃ?Â©zio"'],
      dtype=object)

In [33]:
df[df['Book-Title']=='Peuple du ciel, suivi de Les Bergers']

Empty DataFrame
Columns: [User-ID, Location, Age, ISBN, Book-Rating, Book-Title, Book-Author, Year-Of-Publication, Publisher, Image-URL-S, Image-URL-M, Image-URL-L]
Index: []

In [34]:
def year(p,q,r,s):
    for i in range(len(p)):
        if q[i]=='DK Publishing Inc':
            author=p[i].split(';')[1][:-1]
            year=r[i]
            pub=q[i]
            r[i]=str(author)
            q[i]=str(year)
            s[i]=str(pub)
            p[i]=str(p[i].split('(')[0][:-1])
            
        elif q[i]=='Gallimard':
            author=p[i].split(';')[1][:-1]
            year=r[i]
            pub=q[i]
            r[i]=str(author)
            q[i]=str(year)
            s[i]=str(pub)
            p[i]=str(p[i].split('\'')[0][:-1])
        
    return np.array(p),np.array(r),np.array(s),np.array(q)

In [35]:
a=df['Book-Title'].values.tolist()
b=df['Year-Of-Publication'].values.tolist()
c=df['Book-Author'].values.tolist()
d=df['Publisher'].values.tolist()

(df['Book-Title'],df['Book-Author'],df['Publisher'],df['Year-Of-Publication'])=year(a,b,c,d)

In [36]:
df[df['Book-Title']=='DK Readers: Creating the X-Men, How Comic Books Come to Life']

,User-ID,Location,Age,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
906829,130571,"summerville, south carolina, usa",NaN,0789466953,0,"DK Readers: Creating the X-Men, How Comic Book...",James Buckley,2000,DK Publishing Inc,http://images.amazon.com/images/P/0789466953.0...,http://images.amazon.com/images/P/0789466953.0...,NaN

In [37]:
def year1(p,q,r,s):
    for i in range(len(p)):
        if q[i]=='Gallimard':
            author=p[i].split(';')[1][:-1]
            year=r[i]
            pub=q[i]
            r[i]=str(author)
            q[i]=str(year)
            s[i]=str(pub)
            p[i]=str(p[i].split('\'')[0][:-1])
        
    print(np.array(p),np.array(r),np.array(s),np.array(q))

In [38]:
a=df[df['Year-Of-Publication']=='Gallimard']['Book-Title'].values.tolist()
b=df[df['Year-Of-Publication']=='Gallimard']['Year-Of-Publication'].values.tolist()
c=df[df['Year-Of-Publication']=='Gallimard']['Book-Author'].values.tolist()
d=df[df['Year-Of-Publication']=='Gallimard']['Publisher'].values.tolist()

year1(a,b,c,d)

[] [] [] []

In [39]:
df[df['Year-Of-Publication']=='0']

,User-ID,Location,Age,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
12384,183,"porto, porto, portugal",27.0,2070567842,8,Folio Junior: L'histoire De Monsieur Sommer,Su>skind-Sempe,0,Gallimard-Jeunesse,http://images.amazon.com/images/P/2070567842.0...,http://images.amazon.com/images/P/2070567842.0...,http://images.amazon.com/images/P/2070567842.0...
12385,73681,"almada, setúbal, portugal",27.0,2070567842,8,Folio Junior: L'histoire De Monsieur Sommer,Su>skind-Sempe,0,Gallimard-Jeunesse,http://images.amazon.com/images/P/2070567842.0...,http://images.amazon.com/images/P/2070567842.0...,http://images.amazon.com/images/P/2070567842.0...
12386,92005,"lisbon, n/a, portugal",24.0,2070567842,9,Folio Junior: L'histoire De Monsieur Sommer,Su>skind-Sempe,0,Gallimard-Jeunesse,http://images.amazon.com/images/P/2070567842.0...,http://images.amazon.com/images/P/2070567842.0...,http://images.amazon.com/images/P/2070567842.0...
12387,156089,"lisboa, n/a, portugal",38.0,2070567842,0,Folio Junior: L'histoire De Monsieur Sommer,Su>skind-Sempe,0,Gallimard-Jeunesse,http://images.amazon.com/images/P/2070567842.0...,http://images.amazon.com/images/P/2070567842.0...,http://images.amazon.com/images/P/2070567842.0...
12388,174962,"lisboa, loures, portugal",20.0,2070567842,0,Folio Junior: L'histoire De Monsieur Sommer,Su>skind-Sempe,0,Gallimard-Jeunesse,http://images.amazon.com/images/P/2070567842.0...,http://images.amazon.com/images/P/2070567842.0...,http://images.amazon.com/images/P/2070567842.0...
...,...,...,...,...,...,...,...,...,...,...,...,...
1030520,278418,"omaha, nebraska, usa",NaN,0529044633,0,Charlie Brown Dictionary Volume 1,Charles Schulz,0,Riverside Dist@world Bible,http://images.amazon.com/images/P/0529044633.0...,http://images.amazon.com/images/P/0529044633.0...,http://images.amazon.com/images/P/0529044633.0...
1030533,278418,"omaha, nebraska, usa",NaN,0553120166,0,Shroud,Robert K Wilcox,0,Bantam Doubleday Dell,http://images.amazon.com/images/P/0553120166.0...,http://images.amazon.com/images/P/0553120166.0...,http://images.amazon.com/images/P/0553120166.0...
1030756,278418,"omaha, nebraska, usa",NaN,0716620073,0,Christmas In Britain,Edited,0,Random House~childrens,http://images.amazon.com/images/P/0716620073.0...,http://images.amazon.com/images/P/0716620073.0...,http://images.amazon.com/images/P/0716620073.0...
1030777,278418,"omaha, nebraska, usa",NaN,0785307494,0,Card Games for One Or Two,David Galt,0,Publications International Ltd,http://images.amazon.com/images/P/0785307494.0...,http://images.amazon.com/images/P/0785307494.0...,http://images.amazon.com/images/P/0785307494.0...
1031070,278422,"new york, new york, usa",32.0,8817853712,10,Lettera a Un Bambino Mai Mato,Oriana Fallaci,0,Rizzoli - RCS Libri,http://images.amazon.com/images/P/8817853712.0...,http://images.amazon.com/images/P/8817853712.0...,http://images.amazon.com/images/P/8817853712.0...

In [40]:
df['Year-Of-Publication']=df['Year-Of-Publication'].astype('int')
df['Year-Of-Publication'].dtype

dtype('int32')

In [41]:
df['Year-Of-Publication'].value_counts().index.tolist()

[2002,
 2001,
 1999,
 2003,
 2000,
 1998,
 1997,
 1996,
 1995,
 1994,
 1993,
 1992,
 1991,
 1990,
 2004,
 1989,
 1988,
 1987,
 1986,
 0,
 1984,
 1985,
 1983,
 1982,
 1981,
 1980,
 1978,
 1979,
 1977,
 1976,
 1974,
 1975,
 1973,
 1972,
 1970,
 1971,
 1969,
 1965,
 1953,
 1968,
 1959,
 1966,
 1964,
 1960,
 1961,
 1967,
 1963,
 1962,
 1957,
 1954,
 1958,
 1955,
 1956,
 2005,
 1920,
 1951,
 1952,
 1930,
 1950,
 1940,
 1942,
 1946,
 1923,
 2030,
 1945,
 1947,
 1911,
 1929,
 1943,
 1948,
 1932,
 1949,
 1936,
 1927,
 1941,
 1937,
 1938,
 1926,
 1902,
 1939,
 2020,
 2038,
 2011,
 1901,
 2050,
 2026,
 1925,
 1928,
 2010,
 1900,
 1933,
 1944,
 1921,
 1924,
 2006,
 2021,
 1931,
 1935,
 1908,
 1922,
 1909,
 1919,
 1917,
 1906,
 1914,
 1934,
 1910,
 1806,
 1904,
 2037,
 1376,
 2008,
 2012,
 1378,
 1897,
 2024]

In [42]:
df['Book-Rating'].value_counts()

0     647294
8      91804
10     71225
7      66402
9      60778
5      45355
6      31687
4       7617
3       5118
2       2375
1       1481
Name: Book-Rating, dtype: int64

In [43]:
df['Location'].values.tolist()

['stockton, california, usa',
 'timmins, ontario, canada',
 'ottawa, ontario, canada',
 'n/a, n/a, n/a',
 'sudbury, ontario, canada',
 'toronto, ontario, canada',
 'victoria, british columbia, canada',
 'ottawa, ontario, canada',
 'ottawa, ,',
 'kingston, ontario, canada',
 'ottawa, ontario, canada',
 'comber, ontario, canada',
 'guelph, ontario, canada',
 'halifax, nova scotia, canada',
 'fredericton, new brunswick, canada',
 'timmins, ontario, canada',
 'wichita, kansas, usa',
 'ottawa, ontario, canada',
 'timmins, ontario, canada',
 'kansas city, missouri, usa',
 'oregon city, oregon, usa',
 'milpitas, california, usa',
 'medford, new york, usa',
 'denver, colorado, usa',
 'edmonton, alberta, canada',
 'vacaville, california, usa',
 'indiana, pennsylvania, usa',
 'payson, arizona, usa',
 'columbus, ohio, usa',
 'timmins, ontario, canada',
 'timmins, ontario, canada',
 'n/a, n/a, n/a',
 'knoxville, tennessee, usa',
 'raleigh, north carolina, usa',
 'san antonio, texas, usa',
 'loveland, colorado, usa',
 'seattle, washington, usa',
 'idaho falls, idaho, usa',
 'evanston, illinois, usa',
 'pleasanton, california, usa',
 'seattle, ,',
 'santa barbara, california, usa',
 'homer, alaska, usa',
 'upland, california, usa',
 'harbor city, california, usa',
 'ann arbor, michigan, usa',
 'klang, selangor, malaysia',
 'dallas, texas, usa',
 'sandy, oregon, usa',
 'pittsburg, missouri, usa',
 'san diego, california, usa',
 'jacksonville, florida, usa',
 'austin, texas, usa',
 'san diego, california, usa',
 'colorado springs, colorado, usa',
 'houston, texas, usa',
 'kuala lumpur, selangor, malaysia',
 'livonia, michigan, usa',
 'albuquerque, ,',
 'vancouver, british columbia, canada',
 'sammamish, washington, usa',
 'renton, washington, usa',
 'parker, colorado, usa',
 'timmins, ontario, canada',
 'toccoa, ga., usa',
 'wahiawa, hawaii, usa',
 'annville, pennsylvania, usa',
 'wahiawa, hawaii, usa',
 'timmins, ontario, canada',
 'n/a, n/a, n/a',
 'cabrils, catalunya, spain',
 'timmins, ontario, canada',
 'timmins, ontario, canada',
 'timmins, ontario, canada',
 'n/a, n/a, n/a',
 'toronto, ontario, canada',
 'greenwood, british columbia, canada',
 'dunedin, otago, new zealand',
 'ottawa, ontario, canada',
 'timmins, ontario, canada',
 'timmins, ontario, canada',
 'vancouver, british columbia, canada',
 'timmins, ontario, canada',
 'timmins, ontario, canada',
 'knoxville, tennessee, usa',
 'timmins, ontario, canada',
 'barstow, california, usa',
 'st. louis, missouri, usa',
 'ashland, missouri, usa',
 'glen allen, virginia, usa',
 'knoxville, tennessee, usa',
 'timmins, ontario, canada',
 'timmins, ontario, canada',
 'tampere, pirkanmaa, finland',
 'sheffield, s yorkshire, united kingdom',
 'timmins, ontario, canada',
 'prosperity, south carolina, usa',
 'humble, ,',
 'germantown, tennessee, usa',
 'arden hills, minnesota, usa',
 'nashville, tennessee, usa',
 'richland, washington, usa',
 'grantsville, utah, usa',
 'knoxville, tennessee, usa',
 'springfield, ,',
 'portland, oregon, usa',
 'sunnyvale, california, usa',
 'houston, texas, usa',
 'somewhere, texas, usa',
 'o`fallon, missouri, usa',
 'glendale, colorado, usa',
 'tumwater, washington, usa',
 'n/a, n/a, n/a',
 'charlotte, north carolina, usa',
 'louisville, kentucky, usa',
 'cordova, tennessee, usa',
 'lisboa, lisboa, portugal',
 'providence, rhode island, usa',
 'rogersville, tennessee, usa',
 'mechanicsville, maryland, usa',
 'pinckney, michigan, usa',
 'selden, new york, usa',
 'fairhope, alabama, usa',
 'bossier city, louisiana, usa',
 'york, pennsylvania, usa',
 'rio de janeiro, rio de janeiro, brazil',
 'elmwood, massachusetts, usa',
 'north brunswick, new jersey, usa',
 'chapel hill, north carolina, usa',
 'st. louis, missouri, usa',
 'sacramento, california, usa',
 'woodbridge, virginia, usa',
 'peoria, arizona, usa',
 'knox, pennsylvania, usa',
 'indiuanapolis, indiana, usa',
 'hartford, connecticut, usa',
 'offenbach, hessen, germany',
 'newbury park, california, usa',
 'charleston, south carolina, usa',
 'homer city, pennsylvania, usa',
 'henryville, indiana, usa',
 'chula vista, california, usa',
 'charleston, south carolina, usa',
 'chula vista, california, usa',
 'st. rose, louisiana, usa',
 'mentor, ohio, usa',
 'duluth, minnesota, usa',
 'san marcos, california, usa',
 'williamsburg, virginia, usa',
 'aloha, ,',
 'cumby, texas, usa',
 'jacksonville, florida, usa',
 'fairless hills, pennsylvania, usa',
 'brainerd, minnesota, usa',
 'clinton twp., michigan, usa',
 'klang, selangor, malaysia',
 'san diego, california, usa',
 'pine knoll shores, north carolina, usa',
 'san antonio, texas, usa',
 'leipzig, sachsen, germany',
 'toronto, ontario, canada',
 'vienna, vienna, austria',
 'new orleans, louisiana, usa',
 'ivydale, west virginia, usa',
 'clintonville, wisconsin, usa',
 'livermore, california, usa',
 'colton, oregon, usa',
 'lacey, washington, usa',
 'nashua, new hampshire, usa',
 'burlington, north carolina, usa',
 'cassville, missouri, usa',
 'antioch, illinois, usa',
 'new york, new york, usa',
 'coburg, oregon, usa',
 'pearland, texas,',
 'san antonio, texas, usa',
 'uniontown, pennsylvania, usa',
 'lowell, arkansas, usa',
 'chardon, ohio, usa',
 'hartford, wisconsin, usa',
 'warsaw, virginia, usa',
 'milwaukee, wisconsin, usa',
 'reno, nevada, usa',
 'fredericksburg, virginia, usa',
 'san ramon, california, usa',
 'buffalo grove, illinois, usa',
 'kokomo, indiana, usa',
 'melbourne, florida, usa',
 'chickasha, oklahoma, usa',
 'friendswood, texas, usa',
 'mooresville, north carolina, usa',
 'fresno, california, usa',
 'warwick, rhode island, usa',
 'grand island, new york, usa',
 'defuniak, florida, usa',
 'minneapolis, minnesota, usa',
 'macomb, michigan, usa',
 'cincinnati, ohio, usa',
 'west falls, new york, usa',
 'olympia, washington, usa',
 'langley, british columbia, canada',
 'sacramento, california, usa',
 'bologna, emilia romagna, italy',
 'dwight, illinois, usa',
 'honolulu, hawaii, usa',
 'amadora, lisboa, portugal',
 'fairbanks, alaska, usa',
 'st. louis, missouri, usa',
 'warrensburg, missouri, usa',
 'romsey, hampshire, united kingdom',
 'savannah, georgia, usa',
 'fair oaks, california, usa',
 'san antonio, texas, usa',
 'fairbanks, alaska, usa',
 'abilene, texas, usa',
 'fremont, california, usa',
 'cleveland, ohio, usa',
 'denver, colorado, usa',
 'forest grove, oregon, usa',
 'coeur d`alene, idaho, usa',
 'portland, maine, usa',
 'fresno, california, usa',
 'lakeland, minnesota, usa',
 'french camp, california, usa',
 'miami, florida, usa',
 'st. charles, missouri, usa',
 'farmington hills, michigan, usa',
 'bergheim, texas, usa',
 'portland, oregon, usa',
 'mount vernon, washington, usa',
 'zevenaar, gelderland, netherlands',
 'san marcos, california, usa',
 'shoreline, washington, usa',
 'castro valley, california, usa',
 'friday harbor, washington, usa',
 'eugene, oregon, usa',
 'cincinnati, ohio, usa',
 'liberty township, ohio, usa',
 'victoria, british columbia, canada',
 'riverside, california, usa',
 'ft huachuca, arizona, usa',
 'modesto, california, usa',
 'olympia, washington, usa',
 'norton, ohio, usa',
 'tucson, arizona, usa',
 'sarasota, ,',
 'royersford, pennsylvania, usa',
 'tampa, florida, usa',
 'oakland, california, usa',
 'dumas, texas, usa',
 'paducah, kentucky, usa',
 'troy, michigan, usa',
 'appleton, wisconsin, usa',
 'tarentum, pennsylvania, usa',
 'cincinnati, ohio, usa',
 'buffalo, new york, usa',
 'winterville, north carolina, usa',
 'cambridge, massachusetts, usa',
 'fairfax, virginia, usa',
 'los angeles, california, usa',
 'wiley ford, west virginia, usa',
 'barren springs, virginia, usa',
 'spencer, indiana, usa',
 'saint  charles, missouri, usa',
 'painted post, new york, usa',
 'antelope, california, usa',
 'asheville, north carolina, usa',
 'sherman oaks, california, usa',
 'vancouver, washington, usa',
 'pickering, ontario, canada',
 'moline, illinois, usa',
 'blacksburg, virginia, usa',
 'berlin, berlin, germany',
 'boyce, virginia, usa',
 'garland, texas, usa',
 'hampden, north dakota, usa',
 'vancouver, british columbia, canada',
 'atlanta, georgia, usa',
 'decatur, georgia, usa',
 'manning, south carolina, usa',
 'mount vernon, new york, usa',
 'phoenix, arizona, usa',
 'boulder, colorado, usa',
 'tallahassee, florida, usa',
 'ramah, new mexico, usa',
 'lafayette, indiana, usa',
 'irvine, california, usa',
 'westmont, illinois, usa',
 'urbana, illinois, usa',
 'glendale, missouri, usa',
 'san antonio, texas, usa',
 'jersey city, new jersey, usa',
 'boise, idaho, usa',
 'ferndale, washington, usa',
 'ellington, connecticut, usa',
 'muskegon, michigan, usa',
 'endicott, new york, usa',
 'west valley city, utah, usa',
 'seattle, washington, usa',
 'palmyra, western australia, australia',
 'indianapolis, indiana, usa',
 'phoenix, arizona, usa',
 'elk grove, california, usa',
 'san jose, california, usa',
 'ft. pierce, florida, usa',
 'potomac falls, virginia, usa',
 'arlington, virginia, usa',
 'warren, ohio, usa',
 'laplace, louisiana, usa',
 'enterprise, oregon, usa',
 'wetzlar, hessen, germany',
 'west springfield, massachusetts,',
 'storm lake, iowa, usa',
 'marion, arkansas, usa',
 'dyersburg, tennessee, usa',
 'ellensburg, washington, usa',
 'stow, massachusetts, usa',
 'riedstadt, hessen, germany',
 'galveston, texas, usa',
 'pleasanton, california, usa',
 'middletown, connecticut, usa',
 'cary, north carolina, usa',
 'camdenton, missouri, usa',
 'minneapolis, minnesota, usa',
 'lake wales, florida, usa',
 'cumming, georgia, usa',
 'hillsdale, michigan, usa',
 'sacramento, california, usa',
 'vancouver, washington, usa',
 'millburn, new jersey, usa',
 'san antonio, texas, usa',
 'boston, massachusetts, usa',
 'studio city, california, usa',
 'little rock, arkansas, usa',
 'round lake, illinois, usa',
 'encinitas, california, usa',
 'hood river, oregon, usa',
 'pinon hills, california, usa',
 'lille, nord, france',
 'portland, oregon, usa',
 'blaine, minnesota, usa',
 'miami, florida, usa',
 'steubenville, ohio, usa',
 'west linn, ,',
 'decatur, alabama, usa',
 'delta, british columbia, canada',
 'pforzheim, baden-wuerttemberg, germany',
 'doylestown, pennsylvania, usa',
 'louisville, kentucky, usa',
 'hanover, pennsylvania, usa',
 'kissimmee, florida, usa',
 'olive branch, mississippi, usa',
 'middletown, maryland, usa',
 'marietta, georgia, usa',
 'gaithersburg, maryland, usa',
 'carlsbad, california, usa',
 'langley, british columbia, canada',
 'lakewood, california, usa',
 'astoria, oregon, usa',
 'chicago, illinois, usa',
 'chula vista, california, usa',
 'zelienople, pennsylvania, usa',
 'royersford, pennsylvania, usa',
 'university heights, ohio, usa',
 'galax, virginia, usa',
 'irvine, california, usa',
 'salt lake city, utah, usa',
 'auburn, washington, usa',
 'omaha, nebraska, usa',
 'oakville, connecticut, usa',
 'fort wayne, indiana, usa',
 'jacksonville, florida, usa',
 'st. charles, missouri, usa',
 'long beach, california, usa',
 'rantoul, illinois, usa',
 'gordon, nebraska, usa',
 'san jose, san jose, costa rica',
 'hopatcong, new jersey, usa',
 'pittsburgh, pennsylvania, usa',
 'corpus christi, texas, usa',
 'las vegas, nevada, usa',
 'grand rapids, michigan, usa',
 'olympia, washington, usa',
 'florissant, missouri, usa',
 'paradise, pennsylvania, usa',
 'riverside, california, usa',
 'congers, new york, usa',
 'tucson, arizona, usa',
 'cumming, georgia, usa',
 'indiana, pennsylvania, usa',
 'milwaukee, wisconsin, usa',
 'waretown, new jersey, usa',
 'silver spring, maryland, usa',
 'little canada, minnesota, usa',
 'rotterdam, zuid-holland, netherlands',
 'bellingham, washington, usa',
 'r.r.#1 battersea, ontario, canada',
 'campbell, california, usa',
 'pittsburg, missouri, usa',
 'rheinfelden, baden-wuerttemberg, germany',
 'encino, california, usa',
 'mount vernon, kentucky, usa',
 'cumberland, maryland, usa',
 'woodside, new york, usa',
 'santa clara, california, usa',
 'columbia, maryland, usa',
 'florence, oregon, usa',
 'brisbane, queensland, australia',
 'midland, texas, usa',
 'fairbanks, alaska, usa',
 'federal way, washington, usa',
 'springfield, nebraska, usa',
 'north fort myers, ,',
 'wantagh, new york, usa',
 'springfield, illinois, usa',
 'cincinnati, ohio, usa',
 'columbia, south carolina, usa',
 'york, pennsylvania, usa',
 'boulder, colorado, usa',
 'omaha, nebraska, usa',
 'boone county, kentucky, usa',
 'sun valley, california, usa',
 'brown city, michigan, usa',
 'pensacola, florida, usa',
 'san jose, california, usa',
 'st. petersburg, florida, usa',
 'loudoun county, virginia, usa',
 'ypsilanti, michigan, usa',
 'brighton, colorado, usa',
 'portland, oregon, usa',
 'hamburg, hamburg, germany',
 'fort lauderdale, florida, usa',
 'warren, michigan, usa',
 'rockaway, new jersey, usa',
 'warsaw, mazowiecka, poland',
 'el cajon, california, usa',
 'dallas, oregon, usa',
 'palmdale, california, usa',
 'reno, nevada, usa',
 'waltham, massachusetts, usa',
 'st. clair, missouri, usa',
 'mclean, virginia, usa',
 'vancouver, washington, usa',
 'colorado springs, colorado, usa',
 'waianae, hawaii, us',
 'portland, oregon, usa',
 'oakland, california, usa',
 'iowa city, iowa, usa',
 'newport, rhode island, usa',
 'kingston, ontario, canada',
 'scarborough, maine, usa',
 'aurora, illinois, usa',
 'griswold, iowa, usa',
 'bridgeton, new jersey, usa',
 'chesapeake, virginia, usa',
 'amarillo, texas, usa',
 'muskego, wisconsin, usa',
 'hawthorne, new jersey, usa',
 'austin, minnesota, usa',
 'colfax, north carolina, usa',
 'saratoga, california, usa',
 'san francisco, california, usa',
 'ashburn, virginia, usa',
 'scottsdale, arizona, usa',
 'rockwall, texas, usa',
 'montreuil, seine saint-denis, france',
 'los banos, california, usa',
 'shelbyville, tennessee, usa',
 'santa rosa, california, usa',
 'sacramento, california, usa',
 'albuquerque, ,',
 'saint louis, missouri, usa',
 'memphis, tennessee, usa',
 'fort irwin, california, usa',
 'mooresville, north carolina, usa',
 'pueblo, colorado, usa',
 'phoenix, arizona, usa',
 'renton, washington, usa',
 'hartley, iowa, usa',
 'sacramento, california, usa',
 'sonoma, california, usa',
 'woodbury, ,',
 'anaheim, california, usa',
 'westchester county, new york, usa',
 'boise, idaho, usa',
 'columbus, ohio, usa',
 'florissant, missouri, usa',
 'louisville, kentucky, usa',
 'mcqueeney, texas, usa',
 'belvidere, illinois, usa',
 'fairbanks, alaska, usa',
 'twin falls, idaho, idaho, usa',
 'south san francisco, california, usa',
 'hillsboro, oregon, usa',
 'rohnert park, calabria, usa',
 'chicago, illinois, usa',
 'omaha, nebraska, usa',
 'fpo, ap, usa',
 'greenville, texas, usa',
 'austin, texas, usa',
 'mendon, massachusetts, usa',
 'victoria, british columbia, canada',
 'vista, california, usa',
 'missoula, montana, usa',
 'morrisville, north carolina, usa',
 'camden, south carolina, usa',
 'olympia, washington, usa',
 'miami, florida, usa',
 'seattle, washington, usa',
 'beaver dam, wisconsin, usa',
 'alexandria, virginia, usa',
 'henderson, nevada, usa',
 'coconut grove, ,',
 'bloomsburg, pennsylvania, usa',
 'whitehorse, yukon territory, canada',
 'delray beach, florida, usa',
 'austin, texas, usa',
 'porto, porto, portugal',
 'schiedam, zuid-holland, netherlands',
 'storm lake, iowa, usa',
 'germantown, tennessee, usa',
 'elk grove, california, usa',
 'manchester, new hampshire, usa',
 'perigny, poitou-charentes, france',
 'bangor, maine, usa',
 'calgary, alberta, canada',
 'rothesay, new brunswick, canada',
 'los angeles, california, usa',
 'rochester, new york, usa',
 'wyncote, pennsylvania, usa',
 'n/a, n/a, n/a',
 'london, england, united kingdom',
 'saskatoon, saskatchewan, canada',
 'kanata, ontario, canada',
 'carlsbad, california, usa',
 'tampa, florida, usa',
 'carlisle, pennsylvania, usa',
 'lynbrook, new york, usa',
 'st. louis, missouri, usa',
 'appleton, wisconsin, usa',
 'london, england, united kingdom',
 'lancaster, pennsylvania, usa',
 'quebec, quebec, canada',
 'west linn, oregon, usa',
 'belfort, franche-comté, france',
 'roanoke, virginia, usa',
 'topeka, kansas, usa',
 'lexington, kentucky, usa',
 'dunnville, ontario, canada',
 'germantown, maryland, usa',
 'sterling heights, michigan, usa',
 'shrewsbury, massachusetts, usa',
 'new hartford, new york, usa',
 'highland park, illinois, usa',
 'roswell, georgia, usa',
 'colorado springs, colorado, usa',
 'lavergne, tennessee, usa',
 'coburg, oregon, usa',
 'emporia, kansas, usa',
 'chicago, illinois, usa',
 'manchester, ,',
 'coventry, connecticut, usa',
 'mililani, hawaii, usa',
 'hemet, , usa',
 'farmington hills, michigan, usa',
 'louisville, kentucky, usa',
 'new castle, delaware, usa',
 'fort myers, florida, usa',
 'washington, dc, usa',
 'lansdowne, pennsylvania, usa',
 'cottage grove, oregon, usa',
 'ludwigshafen, rheinland-pfalz, germany',
 'christchurch, canterbury, new zealand',
 'mercer island, ,',
 'wallingford, connecticut, usa',
 'seattle, washington, usa',
 'miami, florida, usa',
 'new westminster, british columbia, canada',
 'manistee, michigan, usa',
 'halfmoon bay, british columbia, canada',
 'toronto, ontario, canada',
 'manchester, new hampshire, usa',
 'chicago, illinois, usa',
 'bay area, california, usa',
 'glenshaw, pennsylvania, usa',
 'winchester, virginia, usa',
 'keizer, oregon, usa',
 'atlanta, georgia, usa',
 'springfield, oregon, usa',
 'portage, wisconsin, usa',
 'anchorage, alaska, usa',
 'pittsburgh, pennsylvania, usa',
 'calgary, alberta, canada',
 'lowell, massachusetts, usa',
 'greenfield, wisconsin, usa',
 'lakewood, washington, usa',
 'marina del rey, california, usa',
 'olympia, washington, usa',
 'sherman oaks, california, usa',
 'oisterwijk, noord-brabant, netherlands',
 'mesa, arizona, usa',
 'porto, porto, portugal',
 'centennial, colorado, usa',
 'corrales, new mexico, usa',
 'stockton, california, usa',
 'warren, new jersey, usa',
 'tehran, tehran, iran',
 'kansas city, missouri, usa',
 'mercer island, ,',
 'tallahassee, florida, usa',
 'pittsburgh, pennsylvania, usa',
 'wokingham, england, united kingdom',
 'richmond, virginia, usa',
 'menifee lakes, california, usa',
 'crest hill, illinois, usa',
 'wesley chapel, florida, usa',
 'little rock, arkansas, usa',
 'middletown, connecticut, usa',
 'miami, florida, usa',
 'campbellsport, wisconsin, usa',
 'manchester, new hampshire, usa',
 'sayreville, new jersey, usa',
 'ann arbor, michigan, usa',
 'grand rapids, michigan, usa',
 'ft. stewart, georgia, usa',
 'howell, new jersey, usa',
 'dripping springs, texas, usa',
 'heemstede, noord holland, netherlands',
 'watchung, new jersey, usa',
 'heidelberg, baden-württemberg, germany',
 'tucson, arizona, usa',
 'vancouver, washington, usa',
 'monmouth, oregon, usa',
 'silver spring, maryland, usa',
 'christchurch, canterbury, new zealand',
 'st. louis, missouri, usa',
 'winnipeg, manitoba, canada',
 'nashville, tennessee, usa',
 'round rock, texas, usa',
 'helsinki, uusimaa, finland',
 'freehold, new jersey, usa',
 'omaha, nebraska, usa',
 'grapeview, washington, usa',
 'seattle, washington, usa',
 'st. charles, illinois, usa',
 'owensboro, kentucky, usa',
 'simi valley, california, usa',
 'salt lake city, utah, usa',
 'eugene, oregon, usa',
 'angleton, texas, usa',
 'ft. lauderdale, florida, usa',
 'citrus heights, california, usa',
 'dawson creek, british columbia, canada',
 'rock hill, south carolina, usa',
 'portland, oregon, usa',
 'san carlos, california, usa',
 'carlsbad, california, usa',
 'neptune, new jersey, usa',
 'saskatoon, saskatchewan, canada',
 'saskatoon, saskatchewan, canada',
 'virginia beach, virginia, usa',
 'glen rock, pennsylvania, usa',
 'colorado springs, colorado, usa',
 'roanoke, virginia, usa',
 'durham, north carolina, usa',
 'lake worth, florida, usa',
 'seattle, washington, usa',
 'idaho falls, idaho, usa',
 'louisville, kentucky, usa',
 'houston, texas, usa',
 'denver, colorado, usa',
 'de soto, ,',
 'orono, maine, usa',
 'los angeles, california, usa',

In [44]:
'n/a, n/a, n/a'.split(',')

['n/a', ' n/a', ' n/a']

In [45]:
'albuquerque, ,'.split(',')

['albuquerque', ' ', '']

In [46]:
def loc(x):
    a,b,c=[],[],[]
    for i in range(len(x)):
        p=x[i].split(',')
        if p[0]=='n/a':
            p[0]=np.NaN
        if p[1]==' n/a':
            p[1]=np.NaN
        if p[2]==' n/a':
            p[2]=np.NaN
        if p[1]==' ':
            p[1]=np.NaN
        if p[2]=='':
            p[2]=np.NaN
        a.append(p[0])
        b.append(p[1])
        c.append(p[2])
    return np.array(a),np.array(b),np.array(c)

In [47]:
df['City'],df['State'],df['Country']=loc(df['Location'].values.tolist())

In [48]:
df

,User-ID,Location,Age,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L,City,State,Country
0,2,"stockton, california, usa",18.0,0195153448,0,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,stockton,california,usa
1,8,"timmins, ontario, canada",NaN,0002005018,5,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,timmins,ontario,canada
2,11400,"ottawa, ontario, canada",49.0,0002005018,0,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,ottawa,ontario,canada
3,11676,"n/a, n/a, n/a",NaN,0002005018,8,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,nan,nan,nan
4,41385,"sudbury, ontario, canada",NaN,0002005018,0,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,sudbury,ontario,canada
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1031131,278851,"dallas, texas, usa",33.0,0743203763,0,As Hogan Said . . . : The 389 Best Things Anyo...,Randy Voorhees,2000,Simon &amp; Schuster,http://images.amazon.com/images/P/0743203763.0...,http://images.amazon.com/images/P/0743203763.0...,http://images.amazon.com/images/P/0743203763.0...,dallas,texas,usa
1031132,278851,"dallas, texas, usa",33.0,0767907566,5,All Elevations Unknown: An Adventure in the He...,Sam Lightner,2001,Broadway Books,http://images.amazon.com/images/P/0767907566.0...,http://images.amazon.com/images/P/0767907566.0...,http://images.amazon.com/images/P/0767907566.0...,dallas,texas,usa
1031133,278851,"dallas, texas, usa",33.0,0884159221,7,Why stop?: A guide to Texas historical roadsid...,Claude Dooley,1985,Lone Star Books,http://images.amazon.com/images/P/0884159221.0...,http://images.amazon.com/images/P/0884159221.0...,http://images.amazon.com/images/P/0884159221.0...,dallas,texas,usa
1031134,278851,"dallas, texas, usa",33.0,0912333022,7,The Are You Being Served? Stories: 'Camping In...,Jeremy Lloyd,1997,Kqed Books,http://images.amazon.com/images/P/0912333022.0...,http://images.amazon.com/images/P/0912333022.0...,http://images.amazon.com/images/P/0912333022.0...,dallas,texas,usa
1031135,278851,"dallas, texas, usa",33.0,1569661057,10,"Dallas Street Map Guide and Directory, 2000 Ed...",Mapsco,1999,American Map Corporation,http://images.amazon.com/images/P/1569661057.0...,http://images.amazon.com/images/P/1569661057.0...,http://images.amazon.com/images/P/1569661057.0...,dallas,texas,usa

In [49]:
df.isnull().sum()

User-ID                     0
Location                    0
Age                    277835
ISBN                        0
Book-Rating                 0
Book-Title                  0
Book-Author                 0
Year-Of-Publication         0
Publisher                   0
Image-URL-S                 0
Image-URL-M                 0
Image-URL-L                 4
City                        0
State                       0
Country                     0
dtype: int64

In [50]:
df['Age'].value_counts().index.tolist()

[33.0,
 29.0,
 30.0,
 32.0,
 36.0,
 28.0,
 31.0,
 34.0,
 38.0,
 27.0,
 26.0,
 25.0,
 44.0,
 37.0,
 43.0,
 35.0,
 23.0,
 24.0,
 47.0,
 52.0,
 39.0,
 46.0,
 41.0,
 40.0,
 49.0,
 51.0,
 22.0,
 45.0,
 42.0,
 54.0,
 21.0,
 50.0,
 57.0,
 58.0,
 18.0,
 62.0,
 56.0,
 48.0,
 53.0,
 20.0,
 55.0,
 17.0,
 19.0,
 61.0,
 65.0,
 60.0,
 16.0,
 14.0,
 15.0,
 63.0,
 59.0,
 67.0,
 9.0,
 13.0,
 66.0,
 69.0,
 64.0,
 116.0,
 71.0,
 12.0,
 68.0,
 0.0,
 8.0,
 11.0,
 70.0,
 103.0,
 72.0,
 201.0,
 1.0,
 2.0,
 73.0,
 4.0,
 76.0,
 74.0,
 81.0,
 10.0,
 104.0,
 75.0,
 80.0,
 83.0,
 5.0,
 77.0,
 7.0,
 3.0,
 79.0,
 97.0,
 78.0,
 100.0,
 239.0,
 101.0,
 148.0,
 136.0,
 204.0,
 82.0,
 228.0,
 92.0,
 90.0,
 168.0,
 84.0,
 93.0,
 209.0,
 151.0,
 141.0,
 85.0,
 220.0,
 6.0,
 96.0,
 229.0,
 152.0,
 140.0,
 128.0,
 244.0,
 199.0,
 223.0,
 99.0,
 108.0,
 146.0,
 127.0,
 219.0,
 124.0,
 107.0,
 237.0,
 138.0,
 212.0,
 200.0,
 86.0,
 89.0,
 114.0,
 94.0,
 98.0,
 109.0,
 133.0,
 132.0,
 95.0,
 118.0,
 156.0,
 123.0,
 105.0,
 157.0,
 226.0,
 147.0]

In [51]:
df.drop(columns=['Age','Location'],inplace=True)

In [52]:
df

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L,City,State,Country
0,2,0195153448,0,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,stockton,california,usa
1,8,0002005018,5,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,timmins,ontario,canada
2,11400,0002005018,0,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,ottawa,ontario,canada
3,11676,0002005018,8,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,nan,nan,nan
4,41385,0002005018,0,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,sudbury,ontario,canada
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1031131,278851,0743203763,0,As Hogan Said . . . : The 389 Best Things Anyo...,Randy Voorhees,2000,Simon &amp; Schuster,http://images.amazon.com/images/P/0743203763.0...,http://images.amazon.com/images/P/0743203763.0...,http://images.amazon.com/images/P/0743203763.0...,dallas,texas,usa
1031132,278851,0767907566,5,All Elevations Unknown: An Adventure in the He...,Sam Lightner,2001,Broadway Books,http://images.amazon.com/images/P/0767907566.0...,http://images.amazon.com/images/P/0767907566.0...,http://images.amazon.com/images/P/0767907566.0...,dallas,texas,usa
1031133,278851,0884159221,7,Why stop?: A guide to Texas historical roadsid...,Claude Dooley,1985,Lone Star Books,http://images.amazon.com/images/P/0884159221.0...,http://images.amazon.com/images/P/0884159221.0...,http://images.amazon.com/images/P/0884159221.0...,dallas,texas,usa
1031134,278851,0912333022,7,The Are You Being Served? Stories: 'Camping In...,Jeremy Lloyd,1997,Kqed Books,http://images.amazon.com/images/P/0912333022.0...,http://images.amazon.com/images/P/0912333022.0...,http://images.amazon.com/images/P/0912333022.0...,dallas,texas,usa
1031135,278851,1569661057,10,"Dallas Street Map Guide and Directory, 2000 Ed...",Mapsco,1999,American Map Corporation,http://images.amazon.com/images/P/1569661057.0...,http://images.amazon.com/images/P/1569661057.0...,http://images.amazon.com/images/P/1569661057.0...,dallas,texas,usa

In [53]:
df.isnull().sum()

User-ID                0
ISBN                   0
Book-Rating            0
Book-Title             0
Book-Author            0
Year-Of-Publication    0
Publisher              0
Image-URL-S            0
Image-URL-M            0
Image-URL-L            4
City                   0
State                  0
Country                0
dtype: int64

In [54]:
df['City']=df['City'].replace('nan', np.NaN)
df['State']=df['State'].replace('nan', np.NaN)
df['Country']=df['Country'].replace('nan', np.NaN)

In [55]:
df.isnull().sum()

User-ID                    0
ISBN                       0
Book-Rating                0
Book-Title                 0
Book-Author                0
Year-Of-Publication        0
Publisher                  0
Image-URL-S                0
Image-URL-M                0
Image-URL-L                4
City                   13844
State                  40077
Country                35569
dtype: int64

In [56]:
df['City'].value_counts().index.tolist()

['toronto',
 'chicago',
 'seattle',
 'ottawa',
 'olympia',
 'st. louis',
 'london',
 'omaha',
 'portland',
 'san diego',
 'little canada',
 'duluth',
 'ft. stewart',
 'new york',
 'morrow',
 'calgary',
 'vancouver',
 'houston',
 'oakland',
 'san antonio',
 'orlando',
 'austin',
 'la ronge',
 'san francisco',
 'colorado springs',
 'fairbanks',
 'honolulu',
 'edmonton',
 'tucson',
 'brooklyn',
 'sydney',
 'albuquerque',
 'mechanicsville',
 'minneapolis',
 'raleigh',
 'charleston',
 'st louis',
 'barcelona',
 'livermore',
 'manchester',
 'paris',
 'louisville',
 'simi valley',
 'antioch',
 'melbourne',
 'wiley ford',
 'pittsburgh',
 'cumberland',
 'phoenix',
 'mesa',
 'roanoke',
 'saint louis',
 'kansas city',
 'san jose',
 'scarborough',
 'alexandria',
 'lincoln',
 'marietta',
 'christchurch',
 'nashville',
 'miami',
 'akron',
 'sacramento',
 'lisboa',
 'winnemucca',
 'fredericton',
 'springfield',
 'los angeles',
 'jacksonville',
 'kelseyville',
 'sherman oaks',
 'victoria',
 'philadelphia',
 'highland',
 'cary',
 'alvin',
 'columbia',
 'long beach',
 'lexington',
 'montreal',
 'hobe sound',
 'belton',
 'ft. pierce',
 'boston',
 'round rock',
 'astoria',
 'bellingham',
 'huntington beach',
 'west sacramento',
 'halifax',
 'atlanta',
 'cleveland',
 'beaverton',
 'little rock',
 'jasper',
 'ginsheim',
 'madrid',
 'chantilly',
 'ann arbor',
 'winnipeg',
 'hamburg',
 'virginia beach',
 'vista',
 'las vegas',
 'greenville',
 'pleasanton',
 'chula vista',
 'burlington',
 'baltimore',
 'berlin',
 'richmond',
 'tulsa',
 'mooresville',
 'cincinnati',
 'oklahoma city',
 'rochester',
 'fresno',
 'el cajon',
 'san marcos',
 'gaithersburg',
 'yucca valley',
 'woodbridge',
 'rowland heights',
 'tehran',
 'indianapolis',
 'lakewood',
 'nashua',
 'milwaukee',
 'sunnyvale',
 'adelaide',
 'campbellsport',
 'arlington',
 'kitchener',
 'knoxville',
 'columbus',
 'byron',
 'pittsburg',
 'greenwood',
 'denver',
 'dallas',
 'savannah',
 'kelso',
 'kuala lumpur',
 'detroit',
 'cortez',
 'st. petersburg',
 'evanston',
 'rainsville',
 'maryville',
 'howell',
 'sonoma',
 'delray beach',
 'olive branch',
 'washington',
 'york',
 'madison',
 'wien',
 'west columbia',
 'st. charles',
 'disputanta',
 'modesto',
 'norwich',
 'asheville',
 'new orleans',
 'hamilton',
 'cedar rapids',
 'wilmington',
 'mountain view',
 'birmingham',
 'sturgis',
 'henryville',
 'monroe twp.',
 'mentor',
 'cambridge',
 'milton',
 'morrisville',
 'tampa',
 'middletown',
 'fpo',
 'hyde park',
 'tallahassee',
 'toccoa',
 'charlotte',
 'plano',
 'escondido',
 'buffalo',
 'tarentum',
 'chesapeake',
 'edinburg',
 'urbana',
 'gahanna/columbus',
 'nottingham',
 'norfolk',
 'wahiawa',
 'boise',
 'pueblo',
 'syracuse',
 'oakdale',
 'tigard',
 'dunedin',
 'rockaway',
 'durham',
 'waterloo',
 'singapore',
 'armentia',
 'muskego',
 'indiana',
 'griswold',
 'grapeview',
 'dripping springs',
 'spring',
 'santo domingo',
 'fulton',
 'wichita',
 'rapid city',
 'florissant',
 'ellington',
 'dublin',
 'peoria',
 'elmira',
 'lancaster',
 'glen allen',
 'basel',
 'vienna',
 'hickory',
 'florence',
 'somerville',
 'auburn',
 'berkeley',
 'dyersburg',
 'bad axe',
 'ramona',
 'salem',
 'münchen',
 'youngstown',
 'taneytown',
 'olathe',
 'carmichael',
 'hayward',
 'fort worth',
 'wallingford',
 'gilbert',
 'torrance',
 'prince george',
 'perth',
 'ft huachuca',
 'providence',
 'cordova',
 'fall river',
 'glasgow',
 'topeka',
 'stuttgart',
 'kingston',
 'duncansville',
 'huntsville',
 'bonn',
 'anchorage',
 'mosinee',
 'melaka',
 'memphis',
 'drayton valley',
 'chapel hill',
 'carrollton',
 'blythewood',
 'lansdale',
 'eugene',
 'coburg',
 'mississauga',
 'lafayette',
 'bellevue',
 'new albany',
 'canberra',
 'leeds',
 'baton rouge',
 'coventry',
 'nj',
 'athens',
 'chamblee',
 'carlsbad',
 'irving',
 'west jordan',
 'amadora',
 'tübingen',
 'las cruces',
 'milpitas',
 'lawrenceville',
 'derby',
 'amsterdam',
 'wildwood',
 'santa rosa',
 'summerville',
 'westminster',
 'zaragoza',
 'decatur',
 'o`fallon',
 'kingsville',
 'brisbane',
 'pinehurst',
 'barnhart',
 'browns mills',
 'saskatoon',
 'brick',
 'strasbourg',
 'south ohio',
 'la mesa',
 'farmington hills',
 'hull',
 'brighton',
 'brainerd',
 'iowa city',
 'hendersonville',
 'albany',
 'oceanside',
 'milton keynes',
 'keizer',
 'orange park',
 'dortmund',
 'saratoga',
 'covington',
 'apple valley',
 'appleton',
 'germantown',
 'westerville',
 'salt lake city',
 'dekalb',
 'mt. airy',
 'tacoma',
 'lyon',
 'romney',
 'danville',
 'st. paul',
 'santa cruz',
 'north vancouver',
 'sherwood park',
 'overland park',
 'temple',
 'pasadena',
 'owen sound',
 'plainfield',
 'fairfax',
 'altoona',
 'rantoul',
 'barren springs',
 'ourense',
 'yuba city',
 'duisburg',
 'waterford',
 'groton',
 'red deer',
 'vanves',
 'bloomington',
 'greensboro',
 'crescent city',
 'kaiserslautern',
 'temecula',
 'burnaby',
 'surrey',
 'woodstock',
 'amarillo',
 'federal way',
 'milford',
 'higley',
 'bourbonnais',
 'saginaw',
 'dayton',
 'harrisburg',
 'storm lake',
 'waltham',
 'fairless hills',
 'porto',
 'medford',
 'irvine',
 'merrimack',
 'newark',
 'hackettstown',
 'winter haven',
 'grand rapids',
 'mcqueeney',
 'independence',
 'lakeland',
 'yarmouth',
 'saint paul',
 'oxford',
 'gainesville',
 'edinburgh',
 'puchong',
 'elizabeth city',
 'palmdale',
 'marshfield',
 'greencastle',
 'windsor',
 'henderson',
 'crest hill',
 'chesterfield',
 'anaheim',
 'cottage grove',
 'rock island',
 'moberly',
 'morris',
 'adrian',
 'bethlehem',
 'warren',
 'santa ana',
 'mars',
 'frankston',
 'moline',
 'los banos',
 'cardiff',
 'aurora',
 'michie',
 'niskayuna',
 'madera',
 'kamuela',
 'stamford',
 'westmont',
 'santa fe',
 'seixal',
 'frankfurt am main',
 'toulouse',
 'corvallis',
 'freehold',
 'muskegon',
 'reston',
 'lemon grove',
 'kuching',
 'shanghai',
 'forest grove',
 'citrus heights',
 'brampton',
 'culemborg',
 'renton',
 'new berlin',
 'thunder bay',
 'tustin',
 'niles',
 'orem',
 'ypsilanti',
 'columbus (grandview heights)',
 'sheffield',
 'köln',
 'st. john`s',
 'deventer',
 'webster',
 'boulder',
 'apo',
 'toledo',
 'hawthorne',
 'sugar land',
 'coalville',
 'new westminster',
 'valencia',
 'burbank',
 'reno',
 'nicholasville',
 'governors bay',
 'atlantic highlands',
 'lake mary',
 'morris plains',
 'perry',
 'frodsham',
 'vinton',
 'lisbon',
 'ashland',
 'firenze',
 'grove city',
 'strafford',
 'langley',
 'stockholm',
 'fairview',
 'monroe',
 'menasha',
 'catawba',
 'mount vernon',
 'abilene',
 'lille',
 'chandler',
 'fremont',
 'hoover',
 'morro bay',
 'sandpoint',
 'aachen',
 'redding',
 'jackson',
 'salt lake',
 'glendale',
 'auckland',
 'west palm beach',
 'ramah',
 'são paulo',
 'bloomfield hills',
 'sioux falls',
 'west chester',
 'bronx',
 'elk grove',
 'scottsdale',
 'delisle',
 'boone county',
 'heidelberg',
 'franconia',
 'fairfield',
 'mclean',
 'clarksville',
 'st kilda',
 'coal township',
 'san ramon',
 'elmhurst',
 'albq',
 'hollywood',
 'zachary',
 'santa barbara',
 'graz',
 'fredericksburg',
 'dumont',
 'grapevine',
 'hindmarsh island',
 'clevelad',
 'stratford',
 'fullerton',
 'cologne',
 'festus',
 'sydenham',
 'baker city',
 'jefferson',
 'new bern',
 'sitges',
 'winfield',
 'milano',
 'bay area',
 'southampton',
 'creston',
 'bridgeton',
 'watford',
 'bristol',
 'muncie',
 'roma',
 'franklin',
 'oakwood',
 'plymouth',
 'cove',
 'snellville',
 'kirkland',
 'victor',
 'cumming',
 'valley center',
 'freiburg',
 'rock hill',
 'sandy',
 'allen park',
 'newport',
 'laval',
 'ploiesti',
 'lansing',
 'ashburn',
 'walnut creek',
 'dove canyon',
 'dresden',
 'casper',
 'owensboro',
 'butler',
 'spartanburg',
 'college station',
 'farnborough',
 'maryland heights',
 'keller',
 'regensburg',
 'westport',
 'felixstowe',
 'deland',
 'fair haven',
 'iasi',
 'des moines',
 'kingwood',
 'columbiana',
 'lacey',
 'lima',
 'traverse city',
 'bartlesville',
 'homer city',
 'lake wales',
 'west valley city',
 'lake worth',
 'mason',
 'whitney',
 'canton',
 'ithaca',
 'macomb',
 'pawtucket',
 'towson',
 'bloomsburg',
 'mackay',
 'hammond',
 'apex',
 'doha',
 'potomac falls',
 'palmerston north',
 'silver spring',
 'petaling jaya',
 'bochum',
 'schertz',
 'spokane',
 'carneys point',
 'oslo',
 'midland',
 'mena',
 'crystal lake',
 'sevilla',
 'sudbury',
 'sterling',
 'saint albans',
 'bakersfield',
 'hood river',
 'riverside',
 'palmetto bay',
 'saint john',
 'vitoria',
 'getxo',
 'omemee',
 'concord',
 'wake forest',
 'dow city',
 'spruce grove',
 'peterborough',
 'hartford',
 'tuscaloosa',
 'charlottesville',
 'frisco',
 'san bernardino',
 'janesville',
 'lynnwood',
 'cape girardeau',
 'hillsboro',
 'lake forest',
 'katy',
 'dartmouth',
 'fontana',
 'mesquite',
 'newmarket',
 'redmond',
 'winter park',
 'moore',
 'livingston',
 'king of prussia',
 'enterprise',
 'oviedo',
 'superior',
 'sellersville',
 'munich',
 'leuven',
 'espoo',
 'st. peters',
 'delta',
 'stevenage',
 'bloomfield',
 'eufaula',
 'gilroy',
 'chardon',
 'mainz',
 'houma',
 'walla walla',
 'copenhagen',
 'vadnais heights',
 'santa clara',
 'jersey city',
 'greenfield',
 'waianae',
 'bremen',
 'quincy',
 'elsmere',
 'shelbyville',
 'rennes',
 'corrales',
 'montclair',
 'bismarck',
 'daly city',
 'corpus christi',
 'brookline',
 'shrewsbury',
 'abertillery',
 'kissimmee',
 'clearwater',
 'geneva',
 'jonesboro',
 'navarre',
 'duncanville',
 'amagansett',
 'santa monica',
 'palos hills',
 'reading',
 'wolseley',
 'quezon city',
 'katonah',
 'bremerton',
 'bonaire',
 'naples',
 'portela de sacavém',
 'manistee',
 'chisholm',
 'richland',
 'croydon',
 'cotati',
 'pleasant hill',
 'encino',
 'new castle',
 'rison',
 'mobile',
 'clemson',
 'bothell',
 'günzburg',
 'new britain',
 'struthers',
 'watervliet',
 'brest',
 'forsyth',
 'northwest',
 'high river',
 'pasco',
 'napa',
 'castleton',
 'chicago heights',
 'the woodlands',
 'orillia',
 'charlestown',
 'kensington',
 'sheldon',
 'utrecht',
 'glen rock',
 'cornwall',
 'west bend',
 'tokyo',
 'hampton',
 'mercer island',
 'lleida',
 'riverdale',
 'watertown',
 'newport news',
 'barrie',
 'ormond beach',
 'st. marys',
 '',
 'schenectady',
 'west kensington',
 'alameda',
 'stockton',
 'medway',
 'nunspeet',
 'douglasville',
 'durango',
 'ocala',
 'montgomery',
 'carrboro',
 'georgetown',
 'hannover',
 'blacksburg',
 'merrick',
 'northbrook',
 'manhattan',
 'worcester',
 'newport beach',
 'port coquitlam',
 'palo alto',
 'southgate',
 'leicester',
 'fort myers',
 'whitehorse',
 'newbury park',
 'augusta',
 'warrensburg',
 'brookfield',
 'tampere',
 'la crosse',
 'chatham',
 'leroy',
 'kajang',
 'balingup',
 'ona',
 'levittown',
 'braunschweig',
 'cliffwood',
 'lake george',
 'whitehall',
 'sun city',
 'yeovil',
 'kent',
 'north reading',
 'juneau',
 'dollard des ormeaux',
 'bellwood',
 'ede',
 'olney',
 'blue springs',
 'atlantic beach',
 'berck sur mer',
 'skokie',
 'glendale heights',
 'comanche',
 'encinitas',
 'grimes',
 'burien',
 'valdosta',
 'st. catharines',
 'lombard',
 '.',
 'lynbrook',
 'evansville',
 'saint clair',
 'herne bay',
 'paradise',
 'destrehan',
 'fayetteville',
 'plant city',
 'tomball',
 'hi nella',
 'whitby',
 'helsinki',
 'tempe',
 'menomonie',
 'melton mowbray',
 'kennesaw',
 'oshawa',
 'shah alam',
 'slippery rock',
 'delano',
 'kalamazoo',
 'seadrift',
 'nürnberg',
 'leduc',
 'arcata',
 'rockwell',
 'lockport',
 'northridge',
 'sarasota',
 'boca raton',
 'eastbourne',
 'richmond hill',
 'rotherham',
 'west vancouver',
 'new port richey',
 'la jolla',
 'heilbronn',
 'mathews',
 'montrose',
 'minot',
 'hazelwood',
 'metuchen',
 'antelope',
 'samieira',
 'studio city',
 'mcallen',
 'owings mills',
 'tazewell',
 'almada',
 'roswell',
 'rome',
 'mechanicsburg',
 'hanover',
 'fair oaks',
 'rockville',
 'hopewell junction',
 'northamptonshire',
 'largo',
 'calais',
 'chattanooga',
 'elk  city',
 'plantersville',
 'tualatin',
 'niagara falls',
 'manila',
 'staten island',
 'ft myers beach',
 'nanaimo',
 'dunnville',
 'st-légier',
 'binghamton',
 'asnières',
 'round lake',
 'granada hills',
 'trenton',
 'waipahu',
 'conway',
 'annapolis',
 'littleton',
 'kenmore',
 'inverness',
 'northampton',
 'framingham',
 'heemstede',
 'warminster',
 'kelowna',
 'redwood city',
 'belleville',
 'chunchula',
 'flossmoor',
 'new milford',
 'white haven',
 'online',
 'gig harbor',
 'catlettsburg',
 'west lafayette',
 'wangen',
 'ogden',
 'st catharines',
 'okahumpka',
 'mundelein',
 'lubbock',
 'upper township',
 'brunswick',
 'lawton',
 'meridian',
 'brandon',
 'hudson',
 'sackville',
 'arlington heights',
 'longmont',
 'kingsport',
 'bilbao',
 'karlsruhe',
 'wuppertal',
 'kaneohe',
 'paynesville',
 'puyallup',
 'thompson',
 'hooksett',
 'white plains',
 'leipzig',
 'normal',
 'holybourne',
 'pensacola',
 'preston',
 'san angelo',
 'warsaw',
 'edmond',
 'millbrae',
 'chester',
 'west linn',
 'slidell',
 'mt.view',
 'darmstadt',
 'davis',
 'rhame',
 'klang',
 'bielefeld',
 'geelong',
 'vaihingen an der enz',
 'west springfield',
 'roscoe',
 'sierra madre',
 'mönchengladbach',
 'markham',
 'eagan',
 'coquitlam',
 'kirkwood',
 'mannheim',
 'essen',
 'lawrence',
 'schiedam',
 'loveland',
 'catonsville',
 'aloha',
 'bardstown',
 'lake oswego',
 'pierrefonds',
 'scott',
 'pinon hills',
 'greenbelt',
 'orleans',
 'southaven',
 'gulfport',
 'ostermundigen',
 'lebanon',
 'sant cugat del vallès',
 'west blocton',
 'killeen',
 'morgan hill',
 'bountiful',
 'picton',
 'oak park',
 'weimar',
 'harmony',
 'guelph',
 'kanata',
 'surfside beach',
 'somerset',
 'orange',
 'uniontown',
 'rural hall',
 'colton',
 'aldergrove',
 'manassas',
 'longview',
 'st. albans',
 'warwick',
 'regina',
 'newton',
 'niceville',
 'lake country',
 'warrenton',
 'aberdeen',
 'kerzers',
 'rotterdam',
 'warner robins',
 ...]

In [57]:
df[df['City'].isnull() & df['State'].isnull() & df['Country'].isnull()]

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L,City,State,Country
3,11676,0002005018,8,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,NaN,NaN,NaN
31,11676,0399135782,9,The Kitchen God's Wife,Amy Tan,1991,Putnam Pub Group,http://images.amazon.com/images/P/0399135782.0...,http://images.amazon.com/images/P/0399135782.0...,http://images.amazon.com/images/P/0399135782.0...,NaN,NaN,NaN
69,11676,0671870432,8,PLEADING GUILTY,Scott Turow,1993,Audioworks,http://images.amazon.com/images/P/0671870432.0...,http://images.amazon.com/images/P/0671870432.0...,http://images.amazon.com/images/P/0671870432.0...,NaN,NaN,NaN
74,11676,0771074670,0,Nights Below Station Street,David Adams Richards,1988,Emblem Editions,http://images.amazon.com/images/P/0771074670.0...,http://images.amazon.com/images/P/0771074670.0...,http://images.amazon.com/images/P/0771074670.0...,NaN,NaN,NaN
112,11676,0440234743,9,The Testament,John Grisham,1999,Dell,http://images.amazon.com/images/P/0440234743.0...,http://images.amazon.com/images/P/0440234743.0...,http://images.amazon.com/images/P/0440234743.0...,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
848905,146804,0395329353,8,The Complete Poems,Anne Sexton,1982,Houghton Mifflin,http://images.amazon.com/images/P/0395329353.0...,http://images.amazon.com/images/P/0395329353.0...,http://images.amazon.com/images/P/0395329353.0...,NaN,NaN,NaN
923994,146804,0312135599,0,Liliane : A Novel,Ntozake Shange,1995,Picador,http://images.amazon.com/images/P/0312135599.0...,http://images.amazon.com/images/P/0312135599.0...,http://images.amazon.com/images/P/0312135599.0...,NaN,NaN,NaN
923995,146804,0962368326,10,Hooked but Not Helpless: Ending Your Love Hate...,Patricia Allison,1990,Bridgecity Books,http://images.amazon.com/images/P/0962368326.0...,http://images.amazon.com/images/P/0962368326.0...,http://images.amazon.com/images/P/0962368326.0...,NaN,NaN,NaN
935368,156948,0785923314,0,Journal a Quatre Mains,Benoite E. Groult,1974,French &amp; European Pubns,http://images.amazon.com/images/P/0785923314.0...,http://images.amazon.com/images/P/0785923314.0...,http://images.amazon.com/images/P/0785923314.0...,NaN,NaN,NaN
993382,218092,9646635334,10,Persia - Older Than History,"H., Dr. Zendehdel",2002,Cps Inc,http://images.amazon.com/images/P/9646635334.0...,http://images.amazon.com/images/P/9646635334.0...,http://images.amazon.com/images/P/9646635334.0...,NaN,NaN,NaN

df.dropna(inplace=True)
df

### POPULARITY BASED

In [73]:
new_df=df[['Book-Title','Book-Rating']]
new_df

                                                Book-Title  Book-Rating
0                                      Classical Mythology            0
1                                             Clara Callan            5
2                                             Clara Callan            0
3                                             Clara Callan            8
4                                             Clara Callan            0
...                                                    ...          ...
1031131  As Hogan Said . . . : The 389 Best Things Anyo...            0
1031132  All Elevations Unknown: An Adventure in the He...            5
1031133  Why stop?: A guide to Texas historical roadsid...            7
1031134  The Are You Being Served? Stories: 'Camping In...            7
1031135  Dallas Street Map Guide and Directory, 2000 Ed...           10

[1031136 rows x 2 columns]

In [74]:
rating_count=new_df.groupby('Book-Title').count()
rating_count.rename(columns={'Book-Rating':'num_rating'},inplace=True)
rating_count

                                                    num_rating
Book-Title
 A Light in the Storm: The Civil War Diary of A...           4
 Always Have Popsicles                                       1
 Apple Magic (The Collector's series)                        1
 Ask Lily (Young Women of Faith: Lily Series, B...           1
 Beyond IBM: Leadership Marketing and Finance f...           1
...                                                        ...
Ã?Â?lpiraten.                                                2
Ã?Â?rger mit Produkt X. Roman.                               4
Ã?Â?sterlich leben.                                          1
Ã?Â?stlich der Berge.                                        3
Ã?Â?thique en toc                                            2

[241071 rows x 1 columns]

In [75]:
rating_avg=new_df.groupby('Book-Title').mean()
rating_avg.rename(columns={'Book-Rating':'avg_rating'},inplace=True)
rating_avg

                                                    avg_rating
Book-Title
 A Light in the Storm: The Civil War Diary of A...    2.250000
 Always Have Popsicles                                0.000000
 Apple Magic (The Collector's series)                 0.000000
 Ask Lily (Young Women of Faith: Lily Series, B...    8.000000
 Beyond IBM: Leadership Marketing and Finance f...    0.000000
...                                                        ...
Ã?Â?lpiraten.                                         0.000000
Ã?Â?rger mit Produkt X. Roman.                        5.250000
Ã?Â?sterlich leben.                                   7.000000
Ã?Â?stlich der Berge.                                 2.666667
Ã?Â?thique en toc                                     4.000000

[241071 rows x 1 columns]

In [76]:
popular=rating_count.merge(rating_avg,on='Book-Title')
popular

                                                    num_rating  avg_rating
Book-Title
 A Light in the Storm: The Civil War Diary of A...           4    2.250000
 Always Have Popsicles                                       1    0.000000
 Apple Magic (The Collector's series)                        1    0.000000
 Ask Lily (Young Women of Faith: Lily Series, B...           1    8.000000
 Beyond IBM: Leadership Marketing and Finance f...           1    0.000000
...                                                        ...         ...
Ã?Â?lpiraten.                                                2    0.000000
Ã?Â?rger mit Produkt X. Roman.                               4    5.250000
Ã?Â?sterlich leben.                                          1    7.000000
Ã?Â?stlich der Berge.                                        3    2.666667
Ã?Â?thique en toc                                            2    4.000000

[241071 rows x 2 columns]

In [77]:
top_50=popular[popular['num_rating']>300].sort_values('avg_rating',ascending=False).head(50)
top_50

                                                    num_rating  avg_rating
Book-Title
Harry Potter and the Prisoner of Azkaban (Book 3)          428    5.852804
Harry Potter and the Goblet of Fire (Book 4)               387    5.824289
Harry Potter and the Order of the Phoenix (Book 5)         347    5.501441
Harry Potter and the Chamber of Secrets (Book 2)           556    5.183453
The Fellowship of the Ring (The Lord of the Rin...         368    4.948370
Harry Potter and the Sorcerer's Stone (Harry Po...         575    4.895652
To Kill a Mockingbird                                      510    4.700000
The Da Vinci Code                                          898    4.642539
The Five People You Meet in Heaven                         430    4.551163
The Catcher in the Rye                                     449    4.545657
The Lovely Bones: A Novel                                 1295    4.468726
The Secret Life of Bees                                    774    4.447028
Tuesdays with Morrie: An Old Man, a Young Man, ...         493    4.354970
The Red Tent (Bestselling Backlist)                        723    4.334716
Nickel and Dimed: On (Not) Getting By in America           335    4.289552
Fahrenheit 451                                             409    4.264059
Girl with a Pearl Earring                                  526    4.218631
Where the Heart Is (Oprah's Book Club (Paperback))         585    4.105983
Life of Pi                                                 664    4.088855
The Bean Trees                                             389    4.087404
Good in Bed                                                490    4.055102
Fast Food Nation: The Dark Side of the All-Amer...         321    4.037383
American Gods                                              302    4.006623
Skipping Christmas                                         322    4.006211
Left Behind: A Novel of the Earth's Last Days (...         318    4.003145
The Golden Compass (His Dark Materials, Book 1)            336    4.000000
The Color Purple                                           314    3.964968
Suzanne's Diary for Nicholas                               457    3.820569
A Prayer for Owen Meany                                    413    3.796610
The Vampire Lestat (Vampire Chronicles, Book II)           301    3.777409
White Oleander : A Novel (Oprah's Book Club)               356    3.772472
Wicked: The Life and Times of the Wicked Witch ...         326    3.766871
Me Talk Pretty One Day                                     457    3.752735
Timeline                                                   552    3.750000
Angels &amp; Demons                                        670    3.708955
Bel Canto: A Novel                                         350    3.702857
Watership Down                                             312    3.698718
Confessions of a Shopaholic (Summer Display Opp...         350    3.634286
Empire Falls                                               392    3.630102
Lucky : A Memoir                                           301    3.621262
The Poisonwood Bible: A Novel                              494    3.609312
Red Dragon                                                 402    3.606965
The Pilot's Wife : A Novel                                 568    3.593310
1st to Die: A Novel                                        509    3.575639
She's Come Undone (Oprah's Book Club)                      468    3.570513
The Notebook                                               650    3.560000
Interview with the Vampire                                 508    3.551181
The Nanny Diaries: A Novel                                 828    3.530193
Bridget Jones's Diary                                      815    3.527607
White Oleander : A Novel                                   387    3.506460

In [78]:
top_50.merge(df,on='Book-Title').drop_duplicates('Book-Title')[['Book-Title','Book-Author','Image-URL-M','num_rating','avg_rating']].reset_index(drop = True)

,Book-Title,Book-Author,Image-URL-M,num_rating,avg_rating
0,Harry Potter and the Prisoner of Azkaban (Book 3),J. K. Rowling,http://images.amazon.com/images/P/0439136350.0...,428,5.852804
1,Harry Potter and the Goblet of Fire (Book 4),J. K. Rowling,http://images.amazon.com/images/P/0439139597.0...,387,5.824289
2,Harry Potter and the Order of the Phoenix (Boo...,J. K. Rowling,http://images.amazon.com/images/P/043935806X.0...,347,5.501441
3,Harry Potter and the Chamber of Secrets (Book 2),J. K. Rowling,http://images.amazon.com/images/P/0439064864.0...,556,5.183453
4,The Fellowship of the Ring (The Lord of the Ri...,J. R. R. Tolkien,http://images.amazon.com/images/P/0618002227.0...,368,4.948370
5,Harry Potter and the Sorcerer's Stone (Harry P...,J. K. Rowling,http://images.amazon.com/images/P/059035342X.0...,575,4.895652
6,To Kill a Mockingbird,Harper Lee,http://images.amazon.com/images/P/0446310786.0...,510,4.700000
7,The Da Vinci Code,Dan Brown,http://images.amazon.com/images/P/0385504209.0...,898,4.642539
8,The Five People You Meet in Heaven,Mitch Albom,http://images.amazon.com/images/P/0786868716.0...,430,4.551163
9,The Catcher in the Rye,J.D. Salinger,http://images.amazon.com/images/P/0316769487.0...,449,4.545657
10,The Lovely Bones: A Novel,Alice Sebold,http://images.amazon.com/images/P/0316666343.0...,1295,4.468726
11,The Secret Life of Bees,Sue Monk Kidd,http://images.amazon.com/images/P/0142001740.0...,774,4.447028
12,"Tuesdays with Morrie: An Old Man, a Young Man,...",MITCH ALBOM,http://images.amazon.com/images/P/0385484518.0...,493,4.354970
13,The Red Tent (Bestselling Backlist),Anita Diamant,http://images.amazon.com/images/P/0312195516.0...,723,4.334716
14,Nickel and Dimed: On (Not) Getting By in America,Barbara Ehrenreich,http://images.amazon.com/images/P/0805063897.0...,335,4.289552
15,Fahrenheit 451,Ray Bradbury,http://images.amazon.com/images/P/8401422825.0...,409,4.264059
16,Girl with a Pearl Earring,Tracy Chevalier,http://images.amazon.com/images/P/0452282152.0...,526,4.218631
17,Where the Heart Is (Oprah's Book Club (Paperba...,Billie Letts,http://images.amazon.com/images/P/0446672211.0...,585,4.105983
18,Life of Pi,Yann Martel,http://images.amazon.com/images/P/0151008116.0...,664,4.088855
19,The Bean Trees,Barbara Kingsolver,http://images.amazon.com/images/P/0060915544.0...,389,4.087404
20,Good in Bed,Jennifer Weiner,http://images.amazon.com/images/P/0743418174.0...,490,4.055102
21,Fast Food Nation: The Dark Side of the All-Ame...,Eric Schlosser,http://images.amazon.com/images/P/0060938455.0...,321,4.037383
22,American Gods,Neil Gaiman,http://images.amazon.com/images/P/0380789035.0...,302,4.006623
23,Skipping Christmas,JOHN GRISHAM,http://images.amazon.com/images/P/0385505833.0...,322,4.006211
24,Left Behind: A Novel of the Earth's Last Days ...,Tim Lahaye,http://images.amazon.com/images/P/0842329129.0...,318,4.003145
25,"The Golden Compass (His Dark Materials, Book 1)",PHILIP PULLMAN,http://images.amazon.com/images/P/037582345X.0...,336,4.000000
26,The Color Purple,Alice Walker,http://images.amazon.com/images/P/0671617028.0...,314,3.964968
27,Suzanne's Diary for Nicholas,James Patterson,http://images.amazon.com/images/P/0316969443.0...,457,3.820569
28,A Prayer for Owen Meany,John Irving,http://images.amazon.com/images/P/0345361792.0...,413,3.796610
29,"The Vampire Lestat (Vampire Chronicles, Book II)",ANNE RICE,http://images.amazon.com/images/P/0345313860.0...,301,3.777409
30,White Oleander : A Novel (Oprah's Book Club),Janet Fitch,http://images.amazon.com/images/P/0316284955.0...,356,3.772472
31,Wicked: The Life and Times of the Wicked Witch...,Gregory Maguire,http://images.amazon.com/images/P/0060987103.0...,326,3.766871
32,Me Talk Pretty One Day,David Sedaris,http://images.amazon.com/images/P/0316776963.0...,457,3.752735
33,Timeline,MICHAEL CRICHTON,http://images.amazon.com/images/P/0345417623.0...,552,3.750000
34,Angels &amp; Demons,Dan Brown,http://images.amazon.com/images/P/0671027360.0...,670,3.708955
35,Bel Canto: A Novel,Ann Patchett,http://images.amazon.com/images/P/0060934417.0...,350,3.702857
36,Watership Down,Richard George Adams,http://images.amazon.com/images/P/038039586X.0...,312,3.698718
37,Confessions of a Shopaholic (Summer Display Op...,SOPHIE KINSELLA,http://images.amazon.com/images/P/0385335482.0...,350,3.634286
38,Empire Falls,Richard Russo,http://images.amazon.com/images/P/0375726403.0...,392,3.630102
39,Lucky : A Memoir,Alice Sebold,http://images.amazon.com/images/P/0316096199.0...,301,3.621262
40,The Poisonwood Bible: A Novel,Barbara Kingsolver,http://images.amazon.com/images/P/0060930535.0...,494,3.609312
41,Red Dragon,Thomas Harris,http://images.amazon.com/images/P/0440206154.0...,402,3.606965
42,The Pilot's Wife : A Novel,Anita Shreve,http://images.amazon.com/images/P/0316601950.0...,568,3.593310
43,1st to Die: A Novel,James Patterson,http://images.amazon.com/images/P/0316666009.0...,509,3.575639
44,She's Come Undone (Oprah's Book Club),Wally Lamb,http://images.amazon.com/images/P/0671021001.0...,468,3.570513
45,The Notebook,Nicholas Sparks,http://images.amazon.com/images/P/0446605239.0...,650,3.560000
46,Interview with the Vampire,Anne Rice,http://images.amazon.com/images/P/0345337662.0...,508,3.551181
47,The Nanny Diaries: A Novel,Emma McLaughlin,http://images.amazon.com/images/P/0312278586.0...,828,3.530193
48,Bridget Jones's Diary,Helen Fielding,http://images.amazon.com/images/P/0330332775.0...,815,3.527607
49,White Oleander : A Novel,Janet Fitch,http://images.amazon.com/images/P/0316569321.0...,387,3.506460

In [79]:
top_50=top_50.merge(df,on='Book-Title').drop_duplicates('Book-Title')[['Book-Title','Book-Author','Image-URL-M','num_rating','avg_rating']].reset_index(drop = True)
top_50

,Book-Title,Book-Author,Image-URL-M,num_rating,avg_rating
0,Harry Potter and the Prisoner of Azkaban (Book 3),J. K. Rowling,http://images.amazon.com/images/P/0439136350.0...,428,5.852804
1,Harry Potter and the Goblet of Fire (Book 4),J. K. Rowling,http://images.amazon.com/images/P/0439139597.0...,387,5.824289
2,Harry Potter and the Order of the Phoenix (Boo...,J. K. Rowling,http://images.amazon.com/images/P/043935806X.0...,347,5.501441
3,Harry Potter and the Chamber of Secrets (Book 2),J. K. Rowling,http://images.amazon.com/images/P/0439064864.0...,556,5.183453
4,The Fellowship of the Ring (The Lord of the Ri...,J. R. R. Tolkien,http://images.amazon.com/images/P/0618002227.0...,368,4.948370
5,Harry Potter and the Sorcerer's Stone (Harry P...,J. K. Rowling,http://images.amazon.com/images/P/059035342X.0...,575,4.895652
6,To Kill a Mockingbird,Harper Lee,http://images.amazon.com/images/P/0446310786.0...,510,4.700000
7,The Da Vinci Code,Dan Brown,http://images.amazon.com/images/P/0385504209.0...,898,4.642539
8,The Five People You Meet in Heaven,Mitch Albom,http://images.amazon.com/images/P/0786868716.0...,430,4.551163
9,The Catcher in the Rye,J.D. Salinger,http://images.amazon.com/images/P/0316769487.0...,449,4.545657
10,The Lovely Bones: A Novel,Alice Sebold,http://images.amazon.com/images/P/0316666343.0...,1295,4.468726
11,The Secret Life of Bees,Sue Monk Kidd,http://images.amazon.com/images/P/0142001740.0...,774,4.447028
12,"Tuesdays with Morrie: An Old Man, a Young Man,...",MITCH ALBOM,http://images.amazon.com/images/P/0385484518.0...,493,4.354970
13,The Red Tent (Bestselling Backlist),Anita Diamant,http://images.amazon.com/images/P/0312195516.0...,723,4.334716
14,Nickel and Dimed: On (Not) Getting By in America,Barbara Ehrenreich,http://images.amazon.com/images/P/0805063897.0...,335,4.289552
15,Fahrenheit 451,Ray Bradbury,http://images.amazon.com/images/P/8401422825.0...,409,4.264059
16,Girl with a Pearl Earring,Tracy Chevalier,http://images.amazon.com/images/P/0452282152.0...,526,4.218631
17,Where the Heart Is (Oprah's Book Club (Paperba...,Billie Letts,http://images.amazon.com/images/P/0446672211.0...,585,4.105983
18,Life of Pi,Yann Martel,http://images.amazon.com/images/P/0151008116.0...,664,4.088855
19,The Bean Trees,Barbara Kingsolver,http://images.amazon.com/images/P/0060915544.0...,389,4.087404
20,Good in Bed,Jennifer Weiner,http://images.amazon.com/images/P/0743418174.0...,490,4.055102
21,Fast Food Nation: The Dark Side of the All-Ame...,Eric Schlosser,http://images.amazon.com/images/P/0060938455.0...,321,4.037383
22,American Gods,Neil Gaiman,http://images.amazon.com/images/P/0380789035.0...,302,4.006623
23,Skipping Christmas,JOHN GRISHAM,http://images.amazon.com/images/P/0385505833.0...,322,4.006211
24,Left Behind: A Novel of the Earth's Last Days ...,Tim Lahaye,http://images.amazon.com/images/P/0842329129.0...,318,4.003145
25,"The Golden Compass (His Dark Materials, Book 1)",PHILIP PULLMAN,http://images.amazon.com/images/P/037582345X.0...,336,4.000000
26,The Color Purple,Alice Walker,http://images.amazon.com/images/P/0671617028.0...,314,3.964968
27,Suzanne's Diary for Nicholas,James Patterson,http://images.amazon.com/images/P/0316969443.0...,457,3.820569
28,A Prayer for Owen Meany,John Irving,http://images.amazon.com/images/P/0345361792.0...,413,3.796610
29,"The Vampire Lestat (Vampire Chronicles, Book II)",ANNE RICE,http://images.amazon.com/images/P/0345313860.0...,301,3.777409
30,White Oleander : A Novel (Oprah's Book Club),Janet Fitch,http://images.amazon.com/images/P/0316284955.0...,356,3.772472
31,Wicked: The Life and Times of the Wicked Witch...,Gregory Maguire,http://images.amazon.com/images/P/0060987103.0...,326,3.766871
32,Me Talk Pretty One Day,David Sedaris,http://images.amazon.com/images/P/0316776963.0...,457,3.752735
33,Timeline,MICHAEL CRICHTON,http://images.amazon.com/images/P/0345417623.0...,552,3.750000
34,Angels &amp; Demons,Dan Brown,http://images.amazon.com/images/P/0671027360.0...,670,3.708955
35,Bel Canto: A Novel,Ann Patchett,http://images.amazon.com/images/P/0060934417.0...,350,3.702857
36,Watership Down,Richard George Adams,http://images.amazon.com/images/P/038039586X.0...,312,3.698718
37,Confessions of a Shopaholic (Summer Display Op...,SOPHIE KINSELLA,http://images.amazon.com/images/P/0385335482.0...,350,3.634286
38,Empire Falls,Richard Russo,http://images.amazon.com/images/P/0375726403.0...,392,3.630102
39,Lucky : A Memoir,Alice Sebold,http://images.amazon.com/images/P/0316096199.0...,301,3.621262
40,The Poisonwood Bible: A Novel,Barbara Kingsolver,http://images.amazon.com/images/P/0060930535.0...,494,3.609312
41,Red Dragon,Thomas Harris,http://images.amazon.com/images/P/0440206154.0...,402,3.606965
42,The Pilot's Wife : A Novel,Anita Shreve,http://images.amazon.com/images/P/0316601950.0...,568,3.593310
43,1st to Die: A Novel,James Patterson,http://images.amazon.com/images/P/0316666009.0...,509,3.575639
44,She's Come Undone (Oprah's Book Club),Wally Lamb,http://images.amazon.com/images/P/0671021001.0...,468,3.570513
45,The Notebook,Nicholas Sparks,http://images.amazon.com/images/P/0446605239.0...,650,3.560000
46,Interview with the Vampire,Anne Rice,http://images.amazon.com/images/P/0345337662.0...,508,3.551181
47,The Nanny Diaries: A Novel,Emma McLaughlin,http://images.amazon.com/images/P/0312278586.0...,828,3.530193
48,Bridget Jones's Diary,Helen Fielding,http://images.amazon.com/images/P/0330332775.0...,815,3.527607
49,White Oleander : A Novel,Janet Fitch,http://images.amazon.com/images/P/0316569321.0...,387,3.506460

### COLLABORATIVE FILTERING BASED

In [61]:
df_new=df[['Book-Title','Book-Rating','User-ID']]
df_new

,Book-Title,Book-Rating,User-ID
0,Classical Mythology,0,2
1,Clara Callan,5,8
2,Clara Callan,0,11400
3,Clara Callan,8,11676
4,Clara Callan,0,41385
...,...,...,...
1031131,As Hogan Said . . . : The 389 Best Things Anyo...,0,278851
1031132,All Elevations Unknown: An Adventure in the He...,5,278851
1031133,Why stop?: A guide to Texas historical roadsid...,7,278851
1031134,The Are You Being Served? Stories: 'Camping In...,7,278851
1031135,"Dallas Street Map Guide and Directory, 2000 Ed...",10,278851

In [62]:
x=df_new.groupby('User-ID').count()['Book-Rating']>200
trusted_users=x[x].index
trusted_users

Int64Index([   254,   2276,   2766,   2977,   3363,   4017,   4385,   6251,
              6323,   6543,
            ...
            271705, 273979, 274004, 274061, 274301, 274308, 275970, 277427,
            277639, 278418],
           dtype='int64', name='User-ID', length=811)

In [63]:
filtered_users=df_new[df_new['User-ID'].isin(trusted_users)]
filtered_users

,Book-Title,Book-Rating,User-ID
3,Clara Callan,8,11676
6,Clara Callan,0,85526
7,Clara Callan,0,96054
10,Clara Callan,0,177458
21,Flu: The Story of the Great Influenza Pandemic...,10,110912
...,...,...,...
1031065,McSe Rapid Review for Tcp/Ip Microsoft Windows...,0,278418
1031066,Windows Nt Server 4.0 in the Enterprise (Rapid...,0,278418
1031067,McSe Systems Management Server 1.2: Rapid Revi...,0,278418
1031068,Gotcha! Strategy Games for Math and Logic (Hom...,0,278418
1031069,Science Fiction Classics (8 Cassette Deluxe Ed...,0,278418

In [64]:
y=filtered_users.groupby('Book-Title').count()['Book-Rating']>=50
famous_books=y[y].index
famous_books

Index(['1984', '1st to Die: A Novel', '2nd Chance', '4 Blondes',
       'A Bend in the Road', 'A Case of Need',
       'A Child Called \It\": One Child's Courage to Survive"',
       'A Civil Action', 'A Day Late and a Dollar Short', 'A Fine Balance',
       ...
       'Winter Solstice', 'Wish You Well', 'Without Remorse',
       'Wizard and Glass (The Dark Tower, Book 4)', 'Wuthering Heights',
       'Year of Wonders', 'You Belong To Me',
       'Zen and the Art of Motorcycle Maintenance: An Inquiry into Values',
       'Zoya', '\O\" Is for Outlaw"'],
      dtype='object', name='Book-Title', length=706)

In [65]:
final_rating=filtered_users[filtered_users['Book-Title'].isin(famous_books)]
final_rating

                     Book-Title  Book-Rating  User-ID
31       The Kitchen God's Wife            9    11676
33       The Kitchen God's Wife            0    36836
34       The Kitchen God's Wife            9    46398
38       The Kitchen God's Wife            0   113270
39       The Kitchen God's Wife            0   113519
...                         ...          ...      ...
1026285                  Echoes            0   269566
1027153           The Rainmaker            0   271284
1027450          Fahrenheit 451            0   271705
1029284  Me Talk Pretty One Day            9   275970
1029855                Hideaway            0   277639

[58586 rows x 3 columns]

In [66]:
pt=final_rating.pivot_table(index='Book-Title',columns='User-ID',values='Book-Rating')
pt

User-ID,254,2276,2766,2977,3363,4017,4385,6251,6323,6543,...,271705,273979,274004,274061,274301,274308,275970,277427,277639,278418
Book-Title,,,,,,,,,,,,,,,,,,,,,
1984,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,10.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
1st to Die: A Novel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2nd Chance,NaN,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0.0,NaN
4 Blondes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
A Bend in the Road,0.0,NaN,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Year of Wonders,NaN,NaN,NaN,7.0,NaN,NaN,NaN,NaN,NaN,0.0,...,NaN,9.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
You Belong To Me,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
Zoya,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"\O\"" Is for Outlaw""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,8.0,NaN,NaN,NaN,NaN,NaN

In [67]:
pt.fillna(0,inplace=True)

In [68]:
pt

User-ID,254,2276,2766,2977,3363,4017,4385,6251,6323,6543,...,271705,273979,274004,274061,274301,274308,275970,277427,277639,278418
Book-Title,,,,,,,,,,,,,,,,,,,,,
1984,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1st to Die: A Novel,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2nd Chance,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4 Blondes,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A Bend in the Road,0.0,0.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Year of Wonders,0.0,0.0,0.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
You Belong To Me,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zoya,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"\O\"" Is for Outlaw""",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,8.0,0.0,0.0,0.0,0.0,0.0

In [69]:
from sklearn.metrics.pairwise import cosine_similarity

In [70]:
sim_scores=cosine_similarity(pt)
sim_scores

array([[1.        , 0.10255025, 0.01220856, ..., 0.12110367, 0.07347567,
        0.04316046],
       [0.10255025, 1.        , 0.2364573 , ..., 0.07446129, 0.16773875,
        0.14263397],
       [0.01220856, 0.2364573 , 1.        , ..., 0.04558758, 0.04938579,
        0.10796119],
       ...,
       [0.12110367, 0.07446129, 0.04558758, ..., 1.        , 0.07085128,
        0.0196177 ],
       [0.07347567, 0.16773875, 0.04938579, ..., 0.07085128, 1.        ,
        0.10602962],
       [0.04316046, 0.14263397, 0.10796119, ..., 0.0196177 , 0.10602962,
        1.        ]])

In [71]:
def recommend(book_name):
    index=np.where(pt.index=='1984')[0][0]
    similar=sorted(list(enumerate(sim_scores[0])),key=lambda x:x[1],reverse=True)[1:6]
        
    data = []
    for i in similar:
        item = []
        temp_df = df[df['Book-Title'] == pt.index[i[0]]]
        item.extend(list(temp_df.drop_duplicates('Book-Title')['Book-Title'].values))
        item.extend(list(temp_df.drop_duplicates('Book-Title')['Book-Author'].values))
        item.extend(list(temp_df.drop_duplicates('Book-Title')['Image-URL-M'].values))
        
        data.append(item)
    return data

In [72]:
recommend('1984')

[['Animal Farm',
  'George Orwell',
  'http://images.amazon.com/images/P/0451526341.01.MZZZZZZZ.jpg'],
 ["The Handmaid's Tale",
  'Margaret Atwood',
  'http://images.amazon.com/images/P/0449212602.01.MZZZZZZZ.jpg'],
 ['Brave New World',
  'Aldous Huxley',
  'http://images.amazon.com/images/P/0060809833.01.MZZZZZZZ.jpg'],
 ['The Vampire Lestat (Vampire Chronicles, Book II)',
  'ANNE RICE',
  'http://images.amazon.com/images/P/0345313860.01.MZZZZZZZ.jpg'],
 ['The Hours : A Novel',
  'Michael Cunningham',
  'http://images.amazon.com/images/P/0374172897.01.MZZZZZZZ.jpg']]

In [73]:
np.where(pt.index=='1984')[0][0]

0

In [74]:
#for 1984 movie
sorted(list(enumerate(sim_scores[0])),key=lambda x:x[1],reverse=True)

[(0, 0.9999999999999994),
 (47, 0.2702651417103732),
 (545, 0.26396193711234966),
 (82, 0.2366937434740099),
 (634, 0.23299389358170394),
 (551, 0.2262639743141286),
 (181, 0.22222254415660225),
 (500, 0.21057743765309014),
 (344, 0.20675540390454),
 (554, 0.2002506370678305),
 (520, 0.19972624710300058),
 (527, 0.19656287691544358),
 (488, 0.19511819825564608),
 (552, 0.1920889620576415),
 (318, 0.19182230688281934),
 (624, 0.18925313707609975),
 (598, 0.18921367782346202),
 (60, 0.18908176672188645),
 (622, 0.18571699439818884),
 (647, 0.1841081817659337),
 (546, 0.18408910419891056),
 (202, 0.18049207281616433),
 (541, 0.17990898085771032),
 (309, 0.17415730924332484),
 (588, 0.1738182944100774),
 (537, 0.17008719986228352),
 (544, 0.1672877700938274),
 (66, 0.16566734565340113),
 (118, 0.165272766123669),
 (269, 0.1650329228149958),
 (354, 0.16337845332530374),
 (476, 0.16104067376144765),
 (407, 0.16041182196659062),
 (590, 0.16000267935045498),
 (666, 0.1589387141616799),
 (92, 0.1585082118281064),
 (214, 0.15570975499937129),
 (119, 0.15514318804365945),
 (569, 0.15344079020689355),
 (397, 0.1530551446766823),
 (334, 0.15293362041446346),
 (225, 0.1528098402276361),
 (576, 0.15211972188253267),
 (174, 0.14909595195082756),
 (169, 0.1470284656227732),
 (192, 0.14691166711955864),
 (591, 0.1468148574991744),
 (357, 0.1459525808785892),
 (550, 0.1445684727872654),
 (643, 0.1444555917585842),
 (659, 0.14444516556944695),
 (638, 0.14440017099395475),
 (583, 0.14421330855040418),
 (21, 0.14333792815336935),
 (302, 0.14281398522002717),
 (558, 0.14201659839857333),
 (86, 0.1417627291694863),
 (153, 0.1414518615569236),
 (251, 0.13974513728492968),
 (293, 0.13974104783917973),
 (387, 0.1390419059870689),
 (7, 0.13732869060263378),
 (27, 0.1365868085547294),
 (474, 0.13644383961641227),
 (511, 0.13617057407600314),
 (636, 0.13573542468856645),
 (253, 0.13510607638008787),
 (305, 0.13445376799866068),
 (409, 0.1343973311768824),
 (14, 0.13388864701187034),
 (518, 0.13369059478865902),
 (674, 0.13365875731715243),
 (68, 0.13357242093379193),
 (206, 0.13278139031675887),
 (262, 0.13257638388225185),
 (374, 0.13107651944057502),
 (482, 0.13090710604063543),
 (438, 0.130281708532021),
 (197, 0.12871083086643306),
 (606, 0.1285851502948571),
 (420, 0.1282298199003782),
 (562, 0.1279402426979562),
 (65, 0.12680124740531368),
 (682, 0.1265536444037226),
 (286, 0.12548312467838352),
 (699, 0.12530648498478347),
 (640, 0.12522954271046705),
 (410, 0.12508513698245888),
 (326, 0.12468283384023092),
 (312, 0.1238906533021012),
 (660, 0.12340233502840116),
 (216, 0.12338216998991305),
 (557, 0.12333680291383342),
 (434, 0.12307492189941618),
 (219, 0.12177532243608828),
 (29, 0.12167133598776537),
 (101, 0.12114265984279052),
 (703, 0.12110366748083307),
 (627, 0.12024780353669523),
 (303, 0.11979305199464946),
 (255, 0.11841889291663141),
 (385, 0.1178980615083171),
 (243, 0.11784705785247843),
 (512, 0.11784149206441577),
 (19, 0.11706383185253948),
 (40, 0.11679968613719667),
 (87, 0.11661082872914151),
 (489, 0.11494879598141551),
 (604, 0.1144539948977886),
 (495, 0.11400426236261282),
 (362, 0.11362722122094872),
 (515, 0.11277296885857815),
 (16, 0.1115354275858341),
 (465, 0.11122764671322921),
 (117, 0.1103944810687539),
 (649, 0.10990764051155279),
 (73, 0.1096807501418389),
 (366, 0.10941777035919222),
 (494, 0.10853661984252007),
 (650, 0.10850377176901972),
 (205, 0.10849696385128584),
 (470, 0.10800615252570414),
 (612, 0.10725981836116358),
 (151, 0.10684794535545848),
 (630, 0.10596223905942811),
 (79, 0.10519138203342883),
 (324, 0.10467615354986062),
 (84, 0.1039794092420736),
 (194, 0.1035963528100001),
 (459, 0.10354480865656568),
 (149, 0.10341190148072846),
 (437, 0.1033826953037451),
 (578, 0.10307399310158656),
 (230, 0.10266993316420167),
 (611, 0.10266590131312461),
 (327, 0.10266459423639844),
 (1, 0.10255024829874465),
 (432, 0.10228551050235933),
 (261, 0.10174252819190155),
 (402, 0.10135299399598713),
 (323, 0.10084626149563478),
 (421, 0.0999877199669616),
 (670, 0.09993168845101595),
 (137, 0.09974980034668829),
 (431, 0.0992354177657422),
 (461, 0.09919937023309428),
 (152, 0.09898722239993361),
 (615, 0.09872940458571848),
 (628, 0.09840359079895453),
 (620, 0.09797466122629746),
 (195, 0.09794374510256892),
 (363, 0.09791273187403503),
 (307, 0.0979064447776707),
 (48, 0.09779122591837026),
 (574, 0.09772941568150427),
 (373, 0.09754449459555777),
 (228, 0.09746696979819942),
 (13, 0.09673734976610586),
 (183, 0.09673267751838878),
 (531, 0.09596456280564838),
 (565, 0.09532519178944056),
 (645, 0.09508161331593905),
 (36, 0.09495937740802214),
 (672, 0.09488374038474037),
 (155, 0.09428288870384942),
 (514, 0.0928435169211848),
 (211, 0.09203038690315052),
 (377, 0.09132921952528268),
 (684, 0.09095705260744957),
 (348, 0.09014973218560086),
 (440, 0.09005001295005992),
 (400, 0.08996912406728536),
 (198, 0.08992738703666601),
 (439, 0.08988894455657524),
 (429, 0.08982750671022352),
 (50, 0.08958834926611466),
 (316, 0.08951389572154368),
 (365, 0.0891233745026412),
 (665, 0.08904275766583061),
 (570, 0.08856301637769422),
 (44, 0.08785938150991274),
 (217, 0.08784690368235953),
 (275, 0.08781992709390865),
 (24, 0.08723968326958671),
 (648, 0.08704223712018071),
 (281, 0.08673968616705958),
 (422, 0.08642894687915843),
 (296, 0.08608600626732467),
 (513, 0.08588206473402643),
 (560, 0.08563805381851426),
 (540, 0.08541217689607684),
 (331, 0.08474055728984814),
 (43, 0.08471898090442946),
 (270, 0.08466191294337998),
 (245, 0.08422557655984436),
 (215, 0.0842069105937096),
 (683, 0.08418288167449578),
 (689, 0.0839284865111645),
 (42, 0.08354155383339158),
 (88, 0.08331012208964668),
 (15, 0.08303111691811028),
 (250, 0.08294512991462386),
 (536, 0.08280451731096075),
 (584, 0.08272478073987326),
 (416, 0.0824612198578452),
 (6, 0.08216491130000354),
 (218, 0.0820594460339464),
 (517, 0.08200947294838495),
 (686, 0.08143881222401984),
 (121, 0.08139488796880032),
 (481, 0.08100800937525751),
 (462, 0.08091989315700655),
 (616, 0.0807748212690039),
 (522, 0.08062879942666365),
 (632, 0.08054389803075192),
 (442, 0.08033435626539932),
 (542, 0.08007284499901246),
 (605, 0.08001595368794219),
 (364, 0.07999692625971765),
 (39, 0.07984012108659384),
 (33, 0.07965814289647455),
 (276, 0.07885279086963547),
 (58, 0.07877058635507732),
 (301, 0.07866868132289853),
 (22, 0.07847534327232127),
 (654, 0.07845404559691257),
 (353, 0.07843565693314272),
 (244, 0.07839488163675291),
 (158, 0.07835976130061303),
 (690, 0.07785800873431292),
 (594, 0.07725115117942094),
 (330, 0.07652764821891074),
 (631, 0.07617194789896939),
 (28, 0.07600327535501016),
 (231, 0.0757441443938586),
 (358, 0.07561631141753604),
 (472, 0.0755468596127809),
 (164, 0.07477661367406771),
 (595, 0.07464762808145006),
 (123, 0.07458202717929566),
 (227, 0.07458136399603106),
 (310, 0.07437756212042423),
 (254, 0.07423488726781508),
 (112, 0.07422249010392888),
 (664, 0.07391777683093743),
 (564, 0.07352435567112062),
 (458, 0.07348190409223959),
 (704, 0.07347566833900478),
 (504, 0.07276403383736725),
 (187, 0.07262017448772083),
 (131, 0.07258934796997447),
 (506, 0.07242165076731459),
 (538, 0.07213921021695388),
 (567, 0.07194211851914269),
 (355, 0.07161075491687474),
 (692, 0.07151793939760116),
 (484, 0.07150547342980032),
 (396, 0.07136276113078666),
 (535, 0.07052240553428667),
 (418, 0.07025002832914887),
 (597, 0.07021576771146076),
 (26, 0.07009814362931202),
 (322, 0.07008822463577412),
 (667, 0.06947573726333098),
 (549, 0.06911014966082911),
 (77, 0.06876130890656589),
 (516, 0.06868983304237651),
 (376, 0.06829903941402894),
 (241, 0.06806264765162154),
 (271, 0.06795352889900172),
 (507, 0.06790897506872169),
 (11, 0.06766486753662343),
 (51, 0.06748675491514017),
 (525, 0.06738056011305654),
 (677, 0.0672128392842741),
 (90, 0.06715432766232284),
 (347, 0.06681045925540752),
 (389, 0.06671644037106779),
 (69, 0.06615478064452682),
 (196, 0.06609996896203728),
 (582, 0.06572303470837207),
 (596, 0.06546695823953794),
 (300, 0.06541867556977009),
 (109, 0.06524573363186935),
 (447, 0.06523041320455897),
 (289, 0.06520605980064662),
 (490, 0.06513046875777172),
 (104, 0.06510721558252526),
 (534, 0.06476148889541151),
 (386, 0.06468143253238315),
 (641, 0.06455010070487521),
 (232, 0.06426525769208898),
 (491, 0.06401961292305569),
 (212, 0.06388401351716998),
 (423, 0.0635519690782283),
 (528, 0.06306425554305627),
 (581, 0.06303898971663936),
 (120, 0.06237453600241552),
 (350, 0.06206857320564754),
 (85, 0.06167753120046458),
 (23, 0.06150451339525138),
 (486, 0.06143184266443724),
 (444, 0.061398875647666676),
 (608, 0.06129105448105361),
 (530, 0.06123118935155921),
 (381, 0.06113178628791212),
 (469, 0.060877194204984726),
 (170, 0.06087281632872059),
 (291, 0.06069830203664196),
 (398, 0.06039873575147916),
 (49, 0.060160461842087495),
 (369, 0.060039300152930415),
 (147, 0.05995157134958024),
 (190, 0.05994663767295999),
 (593, 0.05940546334243634),
 (125, 0.059363300295016304),
 (207, 0.059152881703632795),
 (349, 0.05914734917065386),
 (625, 0.05894189200911533),
 (701, 0.05864096359154978),
 (103, 0.058191840680734276),
 (501, 0.058097069301565475),
 (675, 0.057940637804840725),
 (392, 0.05762086381548707),
 (524, 0.057560148077814344),
 (371, 0.05755407693373189),
 (579, 0.057157891413611744),
 (671, 0.05711356172333468),
 (41, 0.056912401804646934),
 (467, 0.05666140304625101),
 (122, 0.056554138733275305),
 (56, 0.056290668459108455),
 (175, 0.05606788035530558),
 (547, 0.05600272988869),
 (264, 0.055102704646119355),
 (45, 0.05491435163039676),
 (46, 0.054850498513470236),
 (479, 0.05438295377092604),
 (601, 0.05437622462310082),
 (485, 0.05428487095514969),
 (229, 0.05416091103251692),
 (186, 0.05400331245399732),
 (208, 0.053729841666378134),
 (4, 0.053672244225442485),
 (623, 0.053445774200822666),
 (441, 0.05332049434044375),
 (107, 0.05273164983675109),
 (505, 0.052648569756544576),
 (453, 0.05261953990010256),
 (696, 0.05237226614377158),
 (427, 0.0522373263993224),
 (59, 0.052194792200893965),
 (646, 0.05179020017229585),
 (487, 0.051616531477964966),
 (556, 0.05144282019851702),
 (466, 0.05143480653633815),
 (203, 0.05141892092902459),
 (17, 0.051004105100675136),
 (406, 0.05021880312673623),
 (154, 0.05007429159938883),
 (602, 0.04932819154504025),
 (256, 0.049300912125160704),
 (457, 0.048593102089385304),
 (259, 0.04815971759587031),
 (306, 0.04809338200514574),
 (277, 0.04799058127298857),
 (475, 0.04796762686649386),
 (360, 0.047796293241950796),
 (213, 0.04773328410790857),
 (204, 0.047717402129725514),
 (102, 0.04768602689229997),
 (106, 0.047670497142785574),
 (464, 0.04757132169040053),
 (128, 0.04734092759216691),
 (426, 0.04706590154362337),
 (249, 0.046982457315643385),
 (496, 0.046392498261486066),
 (580, 0.046000562607200646),
 (443, 0.045977952103493924),
 (637, 0.045785523306335146),
 (610, 0.04550867061591275),
 (280, 0.04549923467689111),
 (450, 0.04542765998492866),
 (34, 0.04522616573040869),
 (75, 0.04521795287053612),
 (160, 0.04515898041752436),
 (267, 0.04504597870526374),
 (53, 0.044680983219421905),
 (297, 0.04433882752568145),
 (575, 0.044043586511889346),
 (502, 0.043491562429456586),
 (425, 0.04335826491498011),
 (705, 0.04316045784191231),
 (64, 0.04279501979786338),
 (658, 0.04223674045619745),
 (688, 0.042188025333763236),
 (586, 0.04203701143606598),
 (548, 0.04133585716291763),
 (317, 0.04005551020725377),
 (163, 0.04003333547158616),
 (651, 0.03954864515701187),
 (346, 0.03902659506471766),
 (652, 0.03836309816637586),
 (124, 0.03771888280719047),
 (114, 0.03734566872286401),
 (695, 0.03734566872286401),
 (226, 0.03709430441334803),
 (224, 0.03671505063990275),
 (9, 0.03667590746512177),
 (189, 0.036498718026030004),
 (178, 0.03643816906953526),
 (233, 0.03601739518550193),
 (328, 0.035498355256648746),
 (529, 0.03499381360818396),
 (268, 0.03482458685305275),
 (209, 0.034785003361519164),
 (655, 0.03455547895208963),
 (566, 0.03421894679431926),
 (127, 0.03355602562283),
 (80, 0.03349456939792139),
 (238, 0.03349154464789058),
 (93, 0.03280520241000348),
 (8, 0.03261686350494277),
 (177, 0.03199916313406436),
 (136, 0.030678189040978528),
 (321, 0.03054044240047009),
 (656, 0.030076807297674774),
 (272, 0.029876534978291205),
 (63, 0.029845724311982225),
 (126, 0.02955369248311012),
 (339, 0.02946442510264468),
 (298, 0.029430847399312027),
 (359, 0.029397384230560795),
 (424, 0.028830240654024085),
 (145, 0.028808272598853126),
 (283, 0.028806369616477166),
 (662, 0.028443700563612766),
 (642, 0.02817521704586765),
 (141, 0.028108399645259814),
 (108, 0.02810009706063171),
 (74, 0.02806606106883051),
 (379, 0.02781406274224919),
 (5, 0.027749013024662858),
 (150, 0.027667475691473428),
 (172, 0.027418756526771074),
 (97, 0.02687778911799567),
 (167, 0.026674838717939867),
 (329, 0.026674838717939867),
 (503, 0.02646255704581015),
 (258, 0.026330228561191004),
 (76, 0.02613276804655889),
 (38, 0.026104653172312028),
 (613, 0.026053401473749117),
 (314, 0.025808491020821493),
 (95, 0.025797824097510556),
 (171, 0.025783211586063344),
 (414, 0.025480338679592467),
 (18, 0.025177841632809915),
 (599, 0.02494136129371724),
 (657, 0.024840764583155147),
 (288, 0.02482518222135733),
 (559, 0.024720785609384784),
 (383, 0.024712941476041382),
 (236, 0.024635927968282654),
 (653, 0.02463490862737704),
 (200, 0.024601653277066596),
 (220, 0.024337026385897676),
 (509, 0.024318094429406693),
 (135, 0.02428501142412964),
 (285, 0.024141217209915328),
 (140, 0.024108621631248803),
 (693, 0.02407593195976403),
 (553, 0.023933399289577127),
 (561, 0.023634261138311616),
 (411, 0.02329035016031528),
 (10, 0.02322418425912186),
 (533, 0.023175154774464087),
 (607, 0.023066582966561253),
 (446, 0.023049037833599993),
 (445, 0.023007092325074995),
 (395, 0.02297481006625077),
 (568, 0.022970785411852147),
 (521, 0.0228620664348094),
 (587, 0.022760772453994885),
 (319, 0.02267512161790004),
 (393, 0.02266096293926825),
 (299, 0.022424955017243866),
 (184, 0.02190023295408395),
 (532, 0.021801683645525486),
 (333, 0.021774817728178283),
 (98, 0.02175821065382328),
 (372, 0.021668631362692693),
 (419, 0.021636698437203145),
 (617, 0.02159225803102367),
 (338, 0.021530886296301118),
 (239, 0.021353685011361416),
 (663, 0.021320163671431275),
 (148, 0.021276714965680187),
 (279, 0.021238372796229556),
 (110, 0.021163446843373374),
 (368, 0.02115842407200956),
 (96, 0.02114858980511902),
 (111, 0.02097867986921867),
 (510, 0.020935646634428463),
 (609, 0.02090768582511093),
 (193, 0.020860053643757807),
 (619, 0.020846396819831855),
 (12, 0.020839782065795794),
 (341, 0.020767833514212724),
 (678, 0.020669978441948792),
 (247, 0.02040796206066411),
 (235, 0.02033558874805688),
 (242, 0.020321161226731627),
 (436, 0.020281245334279798),
 (284, 0.020221447157344582),
 (185, 0.020135489410098205),
 (352, 0.020059585724360268),
 (412, 0.019872703940133213),
 (294, 0.019788442258843547),
 (180, 0.01962921144060071),
 (260, 0.019598256153707194),
 (54, 0.019208718234636258),
 (448, 0.01915362558614925),
 (589, 0.019099672781938637),
 (621, 0.019067312487474012),
 (240, 0.019033695446023926),
 (417, 0.01902896010686717),
 (166, 0.018873932015163516),
 (573, 0.018786559700050654),
 (265, 0.018611497829688243),
 (304, 0.01858409288796079),
 (680, 0.018394279624570017),
 (332, 0.018319772326554337),
 (497, 0.018252769789423258),
 (37, 0.018230696811058135),
 (144, 0.0181287703514146),
 (361, 0.018072383204619496),
 (384, 0.018015801292409934),
 (370, 0.017971540540139944),
 (702, 0.017696441246693336),
 (478, 0.017598641856748937),
 (435, 0.01758928833928951),
 (382, 0.017572862308732076),
 (113, 0.017527779718968118),
 (543, 0.017396246144706713),
 (320, 0.017303468493582226),
 (644, 0.017210453378914768),
 (460, 0.0171880657878069),
 (600, 0.017050265851722604),
 (139, 0.016901518597837405),
 (325, 0.016834621675675482),
 (404, 0.016763442237401817),
 (130, 0.016719816747289874),
 (694, 0.016351262734144115),
 (508, 0.016265641643564675),
 (257, 0.016216682151444957),
 (618, 0.016142753550857224),
 (100, 0.016016629607635186),
 (116, 0.01579666260459111),
 (234, 0.01559751952620105),
 (35, 0.01556270914112474),
 (345, 0.015542921836058245),
 (401, 0.015459465622161536),
 (380, 0.015333681815045101),
 (577, 0.015222501642298877),
 (182, 0.015158449197584845),
 (661, 0.015102006885841438),
 (555, 0.015076532862248153),
 (626, 0.014881608648267744),
 (31, 0.01473221255132234),
 (278, 0.014679640011206505),
 (168, 0.01432863977616057),
 (156, 0.014112489355409683),
 (81, 0.013634576553468258),
 (78, 0.013316271087745269),
 (454, 0.01317087876205714),
 (162, 0.012814117802391826),
 (295, 0.012608239194211564),
 (62, 0.012406560213354146),
 (252, 0.012345246102533871),
 (2, 0.012208555646509366),
 (165, 0.012179056920074677),
 (499, 0.011952011165403655),
 (342, 0.011948245768325256),
 (292, 0.011778242975805127),
 (539, 0.011722012964226876),
 (199, 0.011474570339750256),
 (697, 0.011401692977613393),
 (188, 0.011116365315772406),
 (413, 0.011056735115042383),
 (563, 0.01083152786792504),
 (635, 0.01073641547918824),
 (94, 0.010689154840164533),
 (337, 0.010632508151830204),
 (668, 0.010607867311865709),
 (629, 0.010481255663709239),
 (313, 0.010423913217045038),
 (129, 0.010066425112509755),
 (698, 0.009687245558530464),
 (343, 0.009536746594659161),
 (673, 0.009489432211152974),
 (700, 0.009099054369341325),
 (415, 0.0089604367821904),
 (282, 0.00885998445194921),
 (159, 0.00882242400686552),
 (430, 0.00875634332679306),
 (89, 0.00850895140653615),
 (394, 0.008448763927099017),
 (30, 0.007680459111722776),
 (685, 0.007305889033771798),
 (483, 0.00581843892000093),
 (57, 0.005579638588454276),
 (463, 0.0035883533320389396),
 (221, 0.00272862336930817),
 (614, 0.0017370894470936135),
 (3, 0.0),
 (20, 0.0),
 (25, 0.0),
 (32, 0.0),
 (52, 0.0),
 (55, 0.0),
 (61, 0.0),
 (67, 0.0),
 (70, 0.0),
 (71, 0.0),
 (72, 0.0),
 (83, 0.0),
 (91, 0.0),
 (99, 0.0),
 (105, 0.0),
 (115, 0.0),
 (132, 0.0),
 (133, 0.0),
 (134, 0.0),
 (138, 0.0),
 (142, 0.0),
 (143, 0.0),
 (146, 0.0),
 (157, 0.0),
 (161, 0.0),
 (173, 0.0),
 (176, 0.0),
 (179, 0.0),
 (191, 0.0),
 (201, 0.0),
 (210, 0.0),
 (222, 0.0),
 (223, 0.0),
 (237, 0.0),
 (246, 0.0),
 (248, 0.0),
 (263, 0.0),
 (266, 0.0),
 (273, 0.0),
 (274, 0.0),
 (287, 0.0),
 (290, 0.0),
 (308, 0.0),
 (311, 0.0),
 (315, 0.0),
 (335, 0.0),
 (336, 0.0),
 (340, 0.0),
 (351, 0.0),
 (356, 0.0),
 (367, 0.0),
 (375, 0.0),
 (378, 0.0),
 (388, 0.0),
 (390, 0.0),
 (391, 0.0),
 (399, 0.0),
 (403, 0.0),
 (405, 0.0),
 (408, 0.0),
 (428, 0.0),
 (433, 0.0),
 (449, 0.0),
 (451, 0.0),
 (452, 0.0),
 (455, 0.0),
 (456, 0.0),
 (468, 0.0),
 (471, 0.0),
 (473, 0.0),
 (477, 0.0),
 (480, 0.0),
 (492, 0.0),
 (493, 0.0),
 (498, 0.0),
 (519, 0.0),
 (523, 0.0),
 (526, 0.0),
 (571, 0.0),
 (572, 0.0),
 (585, 0.0),
 (592, 0.0),
 (603, 0.0),
 (633, 0.0),
 (639, 0.0),
 (669, 0.0),
 (676, 0.0),
 (679, 0.0),
 (681, 0.0),
 (687, 0.0),
 (691, 0.0)]

### CONTENT BASED

In [82]:
df

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L,City,State,Country
0,2,0195153448,0,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,stockton,california,usa
1,8,0002005018,5,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,timmins,ontario,canada
2,11400,0002005018,0,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,ottawa,ontario,canada
3,11676,0002005018,8,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,NaN,NaN,NaN
4,41385,0002005018,0,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,sudbury,ontario,canada
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1031131,278851,0743203763,0,As Hogan Said . . . : The 389 Best Things Anyo...,Randy Voorhees,2000,Simon &amp; Schuster,http://images.amazon.com/images/P/0743203763.0...,http://images.amazon.com/images/P/0743203763.0...,http://images.amazon.com/images/P/0743203763.0...,dallas,texas,usa
1031132,278851,0767907566,5,All Elevations Unknown: An Adventure in the He...,Sam Lightner,2001,Broadway Books,http://images.amazon.com/images/P/0767907566.0...,http://images.amazon.com/images/P/0767907566.0...,http://images.amazon.com/images/P/0767907566.0...,dallas,texas,usa
1031133,278851,0884159221,7,Why stop?: A guide to Texas historical roadsid...,Claude Dooley,1985,Lone Star Books,http://images.amazon.com/images/P/0884159221.0...,http://images.amazon.com/images/P/0884159221.0...,http://images.amazon.com/images/P/0884159221.0...,dallas,texas,usa
1031134,278851,0912333022,7,The Are You Being Served? Stories: 'Camping In...,Jeremy Lloyd,1997,Kqed Books,http://images.amazon.com/images/P/0912333022.0...,http://images.amazon.com/images/P/0912333022.0...,http://images.amazon.com/images/P/0912333022.0...,dallas,texas,usa
1031135,278851,1569661057,10,"Dallas Street Map Guide and Directory, 2000 Ed...",Mapsco,1999,American Map Corporation,http://images.amazon.com/images/P/1569661057.0...,http://images.amazon.com/images/P/1569661057.0...,http://images.amazon.com/images/P/1569661057.0...,dallas,texas,usa

In [87]:
df['Book-Author'].nunique()

101587

In [108]:
df[df['Book-Author']=='P.J. O\'Rourke']

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L,City,State,Country
7693,83,087113375X,7,Modern Manners: An Etiquette Book for Rude People,P.J. O'Rourke,1990,Atlantic Monthly Press,http://images.amazon.com/images/P/087113375X.0...,http://images.amazon.com/images/P/087113375X.0...,http://images.amazon.com/images/P/087113375X.0...,eugene,oregon,usa
7694,63663,087113375X,7,Modern Manners: An Etiquette Book for Rude People,P.J. O'Rourke,1990,Atlantic Monthly Press,http://images.amazon.com/images/P/087113375X.0...,http://images.amazon.com/images/P/087113375X.0...,http://images.amazon.com/images/P/087113375X.0...,mclean,virginia,usa
7695,75591,087113375X,7,Modern Manners: An Etiquette Book for Rude People,P.J. O'Rourke,1990,Atlantic Monthly Press,http://images.amazon.com/images/P/087113375X.0...,http://images.amazon.com/images/P/087113375X.0...,http://images.amazon.com/images/P/087113375X.0...,charleston,west virginia,usa
7696,128696,087113375X,0,Modern Manners: An Etiquette Book for Rude People,P.J. O'Rourke,1990,Atlantic Monthly Press,http://images.amazon.com/images/P/087113375X.0...,http://images.amazon.com/images/P/087113375X.0...,http://images.amazon.com/images/P/087113375X.0...,southampton,england,united kingdom
7697,155231,087113375X,7,Modern Manners: An Etiquette Book for Rude People,P.J. O'Rourke,1990,Atlantic Monthly Press,http://images.amazon.com/images/P/087113375X.0...,http://images.amazon.com/images/P/087113375X.0...,http://images.amazon.com/images/P/087113375X.0...,sparkill,new york,usa
...,...,...,...,...,...,...,...,...,...,...,...,...,...
747329,53241,0871135205,0,Give War a Chance: Eyewitness Accounts of Mank...,P.J. O'Rourke,1992,Pub Group West,http://images.amazon.com/images/P/0871135205.0...,http://images.amazon.com/images/P/0871135205.0...,http://images.amazon.com/images/P/0871135205.0...,hillsborough,new jersey,usa
747330,209147,0871135205,7,Give War a Chance: Eyewitness Accounts of Mank...,P.J. O'Rourke,1992,Pub Group West,http://images.amazon.com/images/P/0871135205.0...,http://images.amazon.com/images/P/0871135205.0...,http://images.amazon.com/images/P/0871135205.0...,sacramento,NaN,NaN
839391,91832,0871132400,0,Holidays in Hell,P.J. O'Rourke,1988,Pub Group West,http://images.amazon.com/images/P/0871132400.0...,http://images.amazon.com/images/P/0871132400.0...,http://images.amazon.com/images/P/0871132400.0...,miami,florida,usa
987327,211998,0330335820,6,"Age and Guile: Beat Youth, Innocence and a Bad...",P.J. O'Rourke,1995,Pan Macmillan,http://images.amazon.com/images/P/0330335820.0...,http://images.amazon.com/images/P/0330335820.0...,http://images.amazon.com/images/P/0330335820.0...,sitges,barcelona,spain
1031130,278851,067161746X,7,The Bachelor Home Companion: A Practical Guide...,P.J. O'Rourke,1987,Pocket Books,http://images.amazon.com/images/P/067161746X.0...,http://images.amazon.com/images/P/067161746X.0...,http://images.amazon.com/images/P/067161746X.0...,dallas,texas,usa

In [110]:
cont_df=df.merge(popular,on='Book-Title')[['num_rating','avg_rating','Book-Title','Book-Author']].drop_duplicates()
cont_df

,num_rating,avg_rating,Book-Title,Book-Author
0,2,3.500000,Classical Mythology,Mark P. O. Morford
2,14,4.928571,Clara Callan,Richard Bruce Wright
16,3,5.000000,Decision in Normandy,Carlo D'Este
19,11,4.272727,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata
30,1,0.000000,The Mummies of Urumchi,E. J. W. Barber
...,...,...,...,...
1031131,1,0.000000,As Hogan Said . . . : The 389 Best Things Anyo...,Randy Voorhees
1031132,1,5.000000,All Elevations Unknown: An Adventure in the He...,Sam Lightner
1031133,1,7.000000,Why stop?: A guide to Texas historical roadsid...,Claude Dooley
1031134,1,7.000000,The Are You Being Served? Stories: 'Camping In...,Jeremy Lloyd
1031135,1,10.000000,"Dallas Street Map Guide and Directory, 2000 Ed...",Mapsco

In [121]:
new=cont_df[cont_df['num_rating']>10]
new

,num_rating,avg_rating,Book-Title,Book-Author
2,14,4.928571,Clara Callan,Richard Bruce Wright
19,11,4.272727,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata
31,311,2.996785,The Kitchen God's Wife,Amy Tan
363,23,0.565217,Jane Doe,R. J. Kaiser
364,23,0.565217,Jane Doe,R.J. Kaiser
...,...,...,...,...
948778,13,0.000000,In meinem Himmel.,Alice Sebold
948791,11,0.000000,Frl. Ursula: Roman,Heiner Link
948821,15,1.733333,Die SÃ?Â¤ulen der Erde.,Ken Follett
948836,11,0.909091,Emil und die Detektive / Emil und die drei Zwi...,Erich KÃ?Â¤stner
971698,12,0.000000,"Phonics Fun: Reading Program, Pack 4 (Clifford...",Francie Alexander

In [115]:
cont_df[cont_df['Book-Author']=='Zilpha Keatley Snyder']

,num_rating,avg_rating,Book-Title,Book-Author
370551,3,0.000000,The Headless Cupid (Yearling Books (Paperback)),Zilpha Keatley Snyder
376155,41,2.731707,The Egypt Game (Yearling Newbery),Zilpha Keatley Snyder
435155,6,2.833333,The Witches of Worm,Zilpha Keatley Snyder
529673,4,8.500000,Gib Rides Home,Zilpha Keatley Snyder
592711,3,3.000000,Below the Root,Zilpha Keatley Snyder
675476,4,1.500000,Libby on Wednesday,Zilpha Keatley Snyder
677195,4,1.000000,Egypt Game M,Zilpha Keatley Snyder
729435,13,5.923077,Egypt Game,Zilpha Keatley Snyder
740204,2,0.000000,The Changeling (Bullseye Chillers),Zilpha Keatley Snyder
752843,6,2.000000,Black and Blue Magic,Zilpha Keatley Snyder
755328,7,2.000000,The Changeling,Zilpha Keatley Snyder
758432,7,2.000000,The Gypsy Game,Zilpha Keatley Snyder
782000,9,3.333333,The Trespassers,Zilpha Keatley Snyder
783691,3,6.000000,The Egypt Game,Zilpha Keatley Snyder
815602,3,2.000000,Box &amp; the Bone,Zilpha Keatley Snyder
850059,1,0.000000,The Egypt Game (Egypt Game Nrf),Zilpha Keatley Snyder
862073,1,8.000000,The changing maze,Zilpha Keatley Snyder
896710,2,0.000000,Blair's Nightmare,Zilpha Keatley Snyder
944057,5,2.800000,The Velvet Room,Zilpha Keatley Snyder
961190,2,0.000000,Cat Running,Zilpha Keatley Snyder
986061,1,6.000000,The Famous Stanley Kidnapping Case,Zilpha Keatley Snyder
989386,1,0.000000,The Truth About Stone Hollow,Zilpha Keatley Snyder
989528,2,8.000000,And All Between,Zilpha Keatley Snyder
1021990,1,0.000000,The Runaways,Zilpha Keatley Snyder

In [122]:
z=new.groupby('Book-Author').count()['Book-Title']>10
auth=z[z].index
auth

Index(['ANNE RICE', 'Agatha Christie', 'Alan Dean Foster', 'Alice Hoffman',
       'Alice Walker', 'Amanda Quick', 'Amy Tan', 'Andrew M. Greeley',
       'Anita Shreve', 'Ann M. Martin',
       ...
       'Umberto Eco', 'Ursula K. Le Guin', 'V. C. Andrews', 'V.C. Andrews',
       'Virginia Henley', 'W. E. B. Griffin', 'Walter Mosley',
       'Whitley Strieber', 'Wilbur Smith', 'William Shakespeare'],
      dtype='object', name='Book-Author', length=288)

In [125]:
new_new=new[new['Book-Author'].isin(auth)]
new_new

,num_rating,avg_rating,Book-Title,Book-Author
31,311,2.996785,The Kitchen God's Wife,Amy Tan
386,56,3.892857,A Second Chicken Soup for the Woman's Soul (Ch...,Jack Canfield
449,617,3.179903,The Testament,John Grisham
1066,180,3.411111,Beloved (Plume Contemporary Fiction),Toni Morrison
3817,332,2.900602,Airframe,Michael Crichton
...,...,...,...,...
893885,11,1.363636,Down the Long Hills,Louis L'Amour
894427,18,1.388889,The Windsor Knot,Sharyn McCrumb
903676,11,2.545455,Dream Park,Larry Niven
915620,12,2.083333,The Alpine Kindred (Emma Lord Mysteries),Mary Daheim
948821,15,1.733333,Die SÃ?Â¤ulen der Erde.,Ken Follett

In [135]:
k=new_new.groupby('Book-Author',as_index=False).apply(lambda x: x.sort_values('avg_rating',ascending=False))
k

            num_rating  avg_rating  \
0   553491          15    6.000000
    257899          11    4.636364
    71213          301    3.777409
    38458          274    3.281022
    158388          50    3.180000
...                ...         ...
287 222204          13    2.692308
    159201          17    2.235294
    624166          18    2.166667
    584770          11    1.818182
    211560          18    1.777778

                                                   Book-Title  \
0   553491   Interview with the Vampire : Anniversary edition
    257899  Vampire Lestat (Chronicles of the Vampires, 2n...
    71213    The Vampire Lestat (Vampire Chronicles, Book II)
    38458    The Witching Hour (Lives of the Mayfair Witches)
    158388   Blackwood Farm (Rice, Anne, Vampire Chronicles.)
...                                                       ...
287 222204                             Midsummer Nights Dream
    159201                    Macbeth (Dover Thrift Editions)
    624166                     Hamlet (Dover Thrift Editions)
    584770       The Tempest (The Signet Classic Shakespeare)
    211560    The Tempest (Signet Classic Shakespeare Series)

                    Book-Author
0   553491            ANNE RICE
    257899            ANNE RICE
    71213             ANNE RICE
    38458             ANNE RICE
    158388            ANNE RICE
...                         ...
287 222204  William Shakespeare
    159201  William Shakespeare
    624166  William Shakespeare
    584770  William Shakespeare
    211560  William Shakespeare

[6004 rows x 4 columns]

In [139]:
k[k['Book-Author']=='ANNE RICE']['Book-Title'][:5].values

array(['Interview with the Vampire : Anniversary edition',
       'Vampire Lestat (Chronicles of the Vampires, 2nd Book)',
       'The Vampire Lestat (Vampire Chronicles, Book II)',
       'The Witching Hour (Lives of the Mayfair Witches)',
       'Blackwood Farm (Rice, Anne, Vampire Chronicles.)'], dtype=object)

In [153]:
df[df['Book-Title']=='The Tempest (Signet Classic Shakespeare Series)']['Year-Of-Publication']

175376    1987
175377    1987
175378    1987
175379    1987
175380    1987
175381    1987
175382    1987
175383    1987
175384    1987
175385    1987
175386    1987
175387    1987
175388    1987
175389    1987
175390    1987
175391    1987
175392    1987
175393    1987
Name: Year-Of-Publication, dtype: int32

In [157]:
l=k['Book-Title'].values
images=[]
year=[]
for j in range(len(l)):
    images.append(df[df['Book-Title']==l[j]]['Image-URL-M'].values[0])
    year.append(df[df['Book-Title']==l[j]]['Year-Of-Publication'].values[0])
    
print(len(np.array(images)),len(np.array(year)))
k['Image'],k['Year']=np.array(images),np.array(year)

6004 6004

In [158]:
k

            num_rating  avg_rating  \
0   553491          15    6.000000
    257899          11    4.636364
    71213          301    3.777409
    38458          274    3.281022
    158388          50    3.180000
...                ...         ...
287 222204          13    2.692308
    159201          17    2.235294
    624166          18    2.166667
    584770          11    1.818182
    211560          18    1.777778

                                                   Book-Title  \
0   553491   Interview with the Vampire : Anniversary edition
    257899  Vampire Lestat (Chronicles of the Vampires, 2n...
    71213    The Vampire Lestat (Vampire Chronicles, Book II)
    38458    The Witching Hour (Lives of the Mayfair Witches)
    158388   Blackwood Farm (Rice, Anne, Vampire Chronicles.)
...                                                       ...
287 222204                             Midsummer Nights Dream
    159201                    Macbeth (Dover Thrift Editions)
    624166                     Hamlet (Dover Thrift Editions)
    584770       The Tempest (The Signet Classic Shakespeare)
    211560    The Tempest (Signet Classic Shakespeare Series)

                    Book-Author  \
0   553491            ANNE RICE
    257899            ANNE RICE
    71213             ANNE RICE
    38458             ANNE RICE
    158388            ANNE RICE
...                         ...
287 222204  William Shakespeare
    159201  William Shakespeare
    624166  William Shakespeare
    584770  William Shakespeare
    211560  William Shakespeare

                                                        Image  Year
0   553491  http://images.amazon.com/images/P/0394498216.0...  1976
    257899  http://images.amazon.com/images/P/0394534433.0...  1985
    71213   http://images.amazon.com/images/P/0345313860.0...  1986
    38458   http://images.amazon.com/images/P/0345384466.0...  1993
    158388  http://images.amazon.com/images/P/0345443683.0...  2003
...                                                       ...   ...
287 222204  http://images.amazon.com/images/P/0671531409.0...  1984
    159201  http://images.amazon.com/images/P/0486278026.0...  1993
    624166  http://images.amazon.com/images/P/0486272788.0...  1992
    584770  http://images.amazon.com/images/P/0451527127.0...  1998
    211560  http://images.amazon.com/images/P/0451521250.0...  1987

[6004 rows x 6 columns]

In [69]:
import pickle

In [80]:
pickle.dump(top_50,open('popular.pkl','wb'))

In [81]:
pickle.dump(df,open('data.pkl','wb'))

In [161]:
pickle.dump(k,open('author.pkl','wb'))

In [162]:
pickle.dump(pt,open('pt.pkl','wb'))
pickle.dump(sim_scores,open('similarity_scores.pkl','wb'))